<%@ page contentType="text/html" %>
<html>
<head>
</head>
<body>
<div style="text-align: center;">
    <table style="width: 600px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;font-family: &quot;ProximaNova&quot;, sans-serif;border-collapse: collapse !important;height: 100% !important;" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top" id="bodyCell" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 20px;font-family: &quot;ProximaNova&quot;, sans-serif;height: 100% !important;">
                <div class="main">
                    <p style="text-align: center;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; margin-bottom: 30px;">
                        <img src="${server}${assetPath(src: 'favicon/android-chrome-72x72.png')}" width="50" alt="Your logo goes here" style="-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"/>
                    </p>

                    <p>You have submitted a password reset request.</p>

                    <p>Click the link below to reset your password.</p>
                    <p><a href="${url}">${url}</a></p>

                    <p>You’re receiving this email because you recently requested the password reset. If this wasn't you, please ignore this email.</p>

                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>