<html>
<head>
    <meta name="layout" content="content"/>
</head>
<body>
<div class="col-md-4 right_pane">
    <g:include action="trendingSidebar"/>
    <g:include action="latestSidebar"/>
</div>
</body>
</html>