@font-face {
    font-family: 'Bauhaus93';
    src: url('Bauhaus93.eot?#iefix') format('embedded-opentype'),  url('Bauhaus93.woff') format('woff'), url('Bauhaus93.ttf')  format('truetype'), url('Bauhaus93.svg#Bauhaus93') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansMT';
    src: url('GillSansMT.eot?#iefix') format('embedded-opentype'),  url('GillSansMT.woff') format('woff'), url('GillSansMT.ttf')  format('truetype'), url('GillSansMT.svg#GillSansMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background:url("404_bg.png");
    overflow: hidden;
}

a{
    text-decoration: none;
}

#p404 {
    width: 100%;
    height: 300px;
    position: relative
}

#floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

#p404 .container{
    clear: both;
    height: 100%;

}

.bottom_line{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 19px;
    background: url("404_bottom_line.png") repeat-x;
}

.logo_404{
    background: url("404_logo.png") no-repeat;
    height: 88px;
    width: 48px;
    position: absolute;
    bottom: 15px;
    left: 195px;
}

#p404 .tx1 {
    font-family:'Bauhaus93';
    color: #fff;
    text-align: center;
    font-size: 130px;
}

#p404 .tx1 span{
    font-size: 80px;
}

#p404 .tx404 {
    background-image: url("404_text.png");
    height: 280px;
    width: 750px;
    margin: 0 auto;
}

#p404 .tx2 {
    font-size: 30px;
    font-family: 'GillSansMT';
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-align: center;
}

#p404 .bt_404 p {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'GillSansMT';
    color: #000;
    text-transform: uppercase;
    text-align: center;
}
#p404 .bt_404 {
    border-radius: 10px;
    background-color: rgb( 255, 255, 255 );
    width: 225px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: bold;
}

#p404 .bt_404:hover{
    background-color: rgb( 255, 239, 0 );
    font-weight: 300;
    cursor: pointer;
}

.right_line{
    background: url("404_line_right.png");
    width: 309px;
    height: 66px;
    margin: 255px 0 0 calc(100% - 309px);
}


/* mobile */
@media (max-width: 600px){
    #p404 .tx1 {
        font-size: 70px;
    }

    #p404 .tx1 span{
        font-size: 40px;
    }

    #p404 .tx404 {
        background-image: url("404_text_320.png");
        height: 125px;
        width: 335px;
    }

    #p404 .tx2 {
        font-size: 15px;
    }

    .right_line{
        display: none;
    }

    #p404 .bt_404 {
        border-radius: 10px;
        background-color: rgb( 255, 255, 255 );
        width: 113px;
        height: 25px;
        margin: 0 auto;
        margin-top: 25px;
        font-weight: bold;
    }

    #p404 .bt_404 p {
        padding-top: 6px;
        font-size: 12px;
    }

    .bottom_line{
        background-size: 36px 9px;
        height: 9px;
    }

    .logo_404{
        background-size: 24px 44px;
        height: 44px;
        width: 24px;
        bottom: 10px;
        left: 60px;
    }
}

/* tablet */
@media (max-width: 1100px){
    .right_line{
        background: url("404_line_right.png");
        background-size: 155px 33px;
        width: 155px;
        height: 33px;
        margin: 275px 0 0 calc(100% - 155px);;
    }
}

@media (max-width: 800px){
    .right_line{
        background: url("404_line_right.png");
        background-size: 120px 26px;
        width: 120px;
        height: 26px;
        margin: 275px 0 0 calc(100% - 120px);;
    }
}
