@media(max-width: 1200px){	
	#menu .top_menu  .rating{
		padding-right:0px;
	}
}
@media(max-width: 991px){	
	#menu .top_menu .login_text{
		display: none;
	}
	#menu .top_menu{
		display: none;
	}
	#menu .top_menu .message_link{
		display: none;
	}
	#menu .top_menu li .profile_login{
		display: none
	}
	#menu .visible_menu{
		display: block;		
		box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);		
	}
	#menu .top_menu{
		list-style: none;		
		float:left;			
		position: absolute;
		max-width:90%;
		top:70px;
		right:0;
		background: white;
		z-index:100;
		padding-bottom:20px;
		overflow-x: hidden;
	}
	#menu .trigger{
		display: block;	
		float: right;
		padding:20px 10px 0 0		
	}
	#menu .add_pst{
		display: block;
		float: right;
	}
	#menu .add_pst a{
		width:30px;
		height:30px;		
		display: inline-block;
		background: url('../images/add2.png') top left no-repeat;
		margin:15px 20px 0 0
	}
	#menu .top_menu .liked{
		display: none;
	}
	#menu .usr{
		display: block;
		float: right;
		padding:15px 20px 0 0;
	}
	#menu .usr img {
        width: 30px;
        height: 30px;
    }
	#menu .top_menu .right_link{
		float: left;
		padding: 0;
	}
	#menu .top_menu .user_image{
		display: none;
	}	
	#menu .top_menu .submenu_trigger.search_icon img{
		display: none;
	}
	#menu .top_menu .submenu_trigger .submenu.search{	
		padding: 14px;
		line-height: normal;
		color: #333333;
	}
	#menu .top_menu .right_link .login, #menu .top_menu .right_link .add_post{
		width:100%;
		text-align: left;
		background: none;
		border-radius:0;
		color: #333333;
		padding:10px;
		font-weight: normal;	
		transition-property: none;
	} 
	#menu .top_menu .hidden_wide{
		display: block;
	}	 
	#menu .top_menu .hv, #menu .top_menu .active .hv{
		display: inline-block;
	}
	
	#menu .top_menu li{
		display: list-item;
		text-align: left;
		width:100%;	
		clear: both;	
		padding: 0;	
		color: #333333;		
	}
	#menu .top_menu li .num{
		display: none;
	}
	#menu .top_menu li a{
		color: #333333;
		padding:10px;
	}
	#menu .top_menu li a{
		line-height: normal;
	}
	#menu .top_menu li a:hover, #menu .top_menu .right_link .login:hover, #menu .top_menu .right_link .add_post:hover{
		color: white;
		background: #00ded1;
		width:100%;
		transition-property: none;
	}
	
	#menu .top_menu .submenu_trigger span{
		padding:10px;		
		background: url('../images/arrow2.png') center right no-repeat;
		margin-right:20px;		
		min-width:150px;	
		display: inline-block	
	}
	#menu .top_menu .active span{
		color: white;
		background: #00ded1 url('../images/arrow3.png') center right no-repeat;
		background-position: 135px 14px;
		width:100%;
	}
	#menu .top_menu .submenu_trigger span:hover, #menu .top_menu .submenu_trigger.search_icon:hover{	
		color: white;
		background: #00ded1 url('../images/arrow3.png') center right no-repeat;
		width:100%;
		background-position: 135px 14px;			
	}
	#menu .top_menu .submenu_trigger{
		line-height: normal;
		color:#333333
	}
	#menu .top_menu .submenu_trigger .submenu:before {
		display: none;
	}
	#menu .top_menu .submenu_trigger .submenu{
		position:relative;
		width:100% !important;
		background: #f0f2f5;
		top:0;	
		float:left;			
		border-radius:0;
		padding:0;
		box-shadow: none;	
	}
	#menu .top_menu .submenu_trigger{	
		background: none;		
	}
	#menu .top_menu .submenu_trigger .selected_categories{
		display: none !important
	}
	#menu .top_menu .submenu_trigger .categories{
		padding-top:10px;		
	}
	#menu .top_menu .submenu_trigger .submenu  .checkbox{	
		width:33%;
		float:left;	
		line-height: 16px;
	} 
	#menu .top_menu .submenu_trigger .submenu  .checkbox:nth-of-type(2n+1){
		border: none;
	}
	#menu .user_submenu:before {
		content: "";
		position: absolute;
		right: 20px;	
		top: 0%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background-color: white;
		border-radius: 2px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);	
	}
	#menu .top_menu .submenu_trigger .selected_categories.visible{
		display: block !important;
	}
	#menu .top_menu .selected_categories.visible ul  .show{
			display: none !important
		}
	#header_block .left_block{		
		border-right: none;  		
		padding:50px 0 50px 0; 
		margin:0; 
		height: auto;			
		border-bottom: 3px solid white;
	}
	#header_block .right_block{
		border-left:0;
	}
	#header_block .left_block .text_container{
		float: none; 
		max-width: 570px; 
		width: 100%;
		margin: 0 auto;		
	}
	#header_block .left_block .text_container .block_header{	
		max-width: 100%;
		font-size:40px;
		line-height: normal;
		padding:0;
	}
	#header_block .right_block .top_subblock{
		border-right: 2px solid white;
		border-bottom: 0; 		
		min-height:350px;					
	}
	#header_block .right_block .bottom_subblock{
		border-left: 2px solid white;
		border-top: 0; 
		min-height:350px;		
	}
	#header_block .right_block .block_header{
		font-size:25px;
	}
	.right_pane{
		display: none;
	}
	.post_block  .gray_rounded_block .video{
		padding: 36px;
	}
	.post_block  .gray_rounded_block .content_block .fileinput{
		display: none;
	}
	.post_block  .gray_rounded_block .add_cover_block .fileinput{
		display: none;
	}
	.post_block .label_block{
		font-weight:bold; 
		font-size:20px;
		margin-top:16px;
		line-height: 20px;
		min-height: 42px;
	}
	.author_block .image .pencil{
	
	}	
	.author_block .pright{
		right: 25px;
	}
	.author_block .follow_button{
		top:75px;
	}
	.author_block .about{
		padding-top:8px;
		padding-bottom:8px;
	}
	.white_block .add_post_form  button{
		margin-top:20px;		
	}
	.posts_mobile{
		display: block;		
	}
	.posts_mobile p{ 
		font-weight:bold;
		font-size:20px;
		line-height:50px;
		text-align: center;
	}
	.posts_mobile .more_button{
		margin-bottom:10px;
	}
	#like .hdn{
		display: none;
	}
	.relative_block .left_line{	
		left: 35px; 
		top:0;		
	}
	.relative_block .right_line{	
		right: 35px; 
		top:0;	
	}
	.relative_block .prv{
		margin-left:-5px;
	}
	.relative_block .nxt{
		margin-left: -46px;
	}
	.relative_block .likes2, .relative_block .dislikes2, .relative_block .comments2{
		margin-left:-40px;	
	}
	.relative_block .share2, .relative_block .star{
		margin-left: -43px;
	}
	.post_block   .drag{
		display: none;
	}
	.or{
		display: none;
	}
	.snum{
		display: inline-block;
	}
	.snum.checked{
		display: inline-block;
	}
}


@media(max-width: 767px){	
	.relative_block .left_line{	
		left: 20px; 
		top:0		
	}
	.relative_block .right_line{	
		right: 20px; 
		top:0;	
	}
	#menu .top_menu .submenu_trigger .submenu  .checkbox input[type="checkbox"]+ label:before{	
		width:16px; 
		height:16px;
		background: url('../images/checkbox2.png') top left no-repeat; 	
		margin:0 5px 0 0;
	}
	#menu .top_menu .submenu_trigger .submenu  .checkbox{
		padding-bottom:8px;
		font-size:10px;
	} 
	#menu .top_menu .submenu_trigger .submenu  .checkbox  input[type="checkbox"]:checked + label:before{
		background: url('../images/checkbox_selected2.png') top left no-repeat; 
	}
	#header_block .right_block .top_subblock{
		border-right: 0;
		border-bottom: 3px solid white; 		
		height: auto;
		min-height: auto;
		background-size: cover;	
		padding-bottom: 50px;	
	}
	#header_block .right_block .bottom_subblock{
		border-left: 0;
		border-bottom: 3px solid white; 		
		height: auto;
		min-height: auto;
		padding-bottom:50px;
		background-size: cover;					
	}
	#header_block  .looks{
		display: none;
	}
	#header_block  .comments{
		display: none;
	}
	#header_block .left_block .text_container .block_header{
		font-size:25px;
	}
	#header_block .left_block .text_container{		
		max-width: 100%; 		
		padding-left:45px;	
	}
	.left_pane .pane_block .rounded_image .add_items{
		/*display: block;*/
	}
	.left_pane .pane_block .text_block.narrow{
		padding:25px 30px 20px 30px;
	}	
	.left_pane .pane_block .text_block .txt{
		display: none;
	}
	.left_pane .pane_block .text_block .additional_info{	
		padding:16px 0 0 0;
		margin:16px 0 0 0;
	}
	.left_pane .pane_block .text_block .additional_info.narrow{
		border-top: 1px solid #e6e6e6;
		padding:16px 0 0 0;
	}
	.left_pane .pane_block .text_block .additional_info .right_items{		
		/*float: none;*/
	}
	.left_pane .pane_block .text_block .additional_info .right_items.visible_wide{
		/*display: none*/
	}
	.left_pane .pane_block .text_block .additional_info .right_items.hidden_wide{
		display: block;	
	}
	.left_pane .pane_block .text_block .additional_info .looks{
		/*display: none;*/
	}
	.left_pane .pane_block .text_block .user.hidden_wide{
		display: block;
	}
	.left_pane .pane_block .rounded_image  .rounded{
		border-radius: 8px 8px 0 0;	
	}
	
	.left_pane .pane_block .text_block .additional_info a{
		margin-top:0;
	} 
	.left_pane .pane_block .text_block{
		padding:25px 20px 20px 20px;
	}
	#menu .top_menu .submenu_trigger .search input[type="button"]{
		font-size:12px;
	}
	.add_post_buttons button{
		margin-bottom:20px;
	}
	.post_block .content_links{
		max-width: 236px;	
	}
	.post_block .content_links  a{
		margin:0 2px 0 2px;
	}
	.post_block  .gray_rounded_block .video{
		padding: 20px 0 20px 0;
	}
	.post_block .rounded_text_block{
		font-size:12px;
		padding:15px 25px 25px 25px;
		line-height: auto;
	}
	.add_post_page_header{
		font-size:25px;
		padding: 20px 0 0 30px;
	}
	.assist_switch .assist_label{
		display: none;
	}
	.post_block  .gray_rounded_block .content_block img{
		width:50px;
		padding-top:20px;
	}
	.post_block  .gray_rounded_block .add_subheader{	
		padding:30px 0 10px 0;
	}
	.post_block  .gray_rounded_block  .add_content_block{	
		padding:0 0 30px 0;
	}
	.post_block  .gray_rounded_block .add_cover_block img{
		width:50px;
		padding-top:20px;
	}
	.post_block  .gray_rounded_block .add_cover{		
		padding:30px 0 10px 0;
	}
	#inner_page{
		padding-bottom:40px;
	}
	.post_block .label_block{	
		font-size:15px;
		line-height: normal;
		margin-bottom:5px;
		margin-top:0;
		min-height: auto;
	}
	.post_block .checkbox{
		font-size:12px;
	}
	.post_block  .gender_radio{
		line-height:15px;
		margin-top:0;	
	}
	.post_block .reset_password_link{
		font-size:15px;	
		line-height:30px;			
		
	}
	.author_block .about_block .txt{
		font-size:12px;
	}
	.author_block .author_name{
		font-size:25px;
	}
	.author_block .about{
		font-size:15px;
		padding-top:0;
		padding-bottom:0;
	}
	.author_block .social_links a{
		margin:0 6px 0 4px;
	}
	.author_block .follow_button{
		display: block;		
		width: 120px;		
	
	}
	.rating_pane .rating_item .user_item{
		padding-top:10px;
	}
	.rating_header{
		font-size:25px;
	}
	.activity_header{
		font-size:25px;
	}
	.page_subheader{
		font-size:25px;
	}
	.activity_block .txt .subheader{
		font-size:20px;
		line-height: normal;
	}
	.info_block{	
		height: auto;
		float:left;	
		padding-bottom:20px;	
	}
	.info_block span{
		padding-bottom:10px;		
	}
	.post_menu .mobile_postmenu_block{
		display: block;
	}
	.post_menu .mobile_postmenu_block .at{
		font-size:11px;
	}
	.post_menu ul{
		display: none;
		position: absolute;
		top:52px;
		left:15px;
		background: white;
		border-bottom:0;
		z-index:90;
	}
	.post_menu ul li{
		display: block;
	}
	.post_menu  .active{
		display: block;
		z-index:100;
	}
	.rating_pane .rating_item .subscribe_button{
		padding-left:0;
		padding-right:0;
		position: relative;
	}	
	.white_block .add_post_form .textarea_container{
		padding-right:15px;
	}
	.white_block .add_post_form .textarea_container textarea{
		border: 1px solid #d1d8e3;
		border-bottom:0;
		border-radius:5px 5px 0 0;
	}
	.white_block .add_post_form .file_container{
		margin-right:15px
	}
	.white_block .add_post_form  .commentfileinput{
		height: 50px;	
		line-height:50px;	
		border-radius: 0 0 5px 5px;	
		padding-top:0px;
		margin-left:15px;		
	}
	.white_block .add_post_form button{
		max-width: 200px;
		width:100%;
		margin: 20px auto 0 auto;
		display: block;
	}	
	.white_block .description{
		font-size:15px;
	}
	.comment_block .reply_block{
		text-align: left;
		padding-top:0px;
		padding-bottom:17px;
	}
	.white_block{
		padding:20px;
	}
	.post_content{
		padding:20px;
	}
	.post_header_block{
		padding:20px;
	}
	.post_header_block .block_header{
		font-size: 20px;
		line-height: normal;
	}
	.top_comment .comment_text{
		margin-top:15px;
		margin-bottom:15px;
	}
	.comment_block .reply_block button{
		padding-left:0;		
	}
	.comment_block .reply_block a{ 
		padding:0 0 0 40px;
		font-size:11px;	
	}
	
	#login .share a{
		font-size:12px;
	}
	#like .authors_of_month{
		display: none;
	}
	.left_pane .pane_block .text_block .additional_info a{ 	
		padding:0 10px 0 42px;	
	}	
	#login .tmenu li a{
		font-size:12px;
	}
	.author_block .social_links a{
		margin:0 3px 0 3px;
	}
	.post_block{
		padding:20px;
	}
	.post_block  .gray_rounded_block .content_block{
		padding:0;
	}
	.rating_pane .rating_item  .rank_block .bg{
		height: auto;
	}
	.rating_pane .rating_item  .rank_block .rank{	
		line-height: normal;		
	}
	.rating_pane .rating_item .up{
		line-height: normal;
	}
	.rating_pane .rating_item  .user_item{
		padding-left:0;
	}
	.rating_pane .rating_item  .rank_block .text{		
		font-size:10px;
		padding-top:22px;
	}
	.rating_pane .rating_item .user_image img{
		width:60px;		
	}
	.author_block .pright{
		right:15px;
	}
	.post_info_block span{
		font-size:12px;
	} 
	.rating_pane .rating_item .subscribe_button button{
		line-height: 48px;
	} 
	.rating_pane .rating_item .user_item_profile_page{
		padding-bottom:10px;
	}
	.post_block .red_arrow{
		position: absolute;
		top:30px;
		right: 5px;
	}
	.post_block .close{	
		right: 3px;	
		top: 3px
	}
	.post_header_block .user .date{
		float: none;
	}
	.post_content{
		font-size:14px;
	}
	.white_block .more_button{
		max-width: 230px;
	}
	.relative_block .prv{
		margin-left: -15px;
		width: 45px;
		height:45px;		
		background: url('../images/prv2.png') top left no-repeat;	
	}
	.relative_block .nxt{
		margin-left: -28px;
		width: 45px;
		height:45px;
		background: url('../images/nxt2.png') top left no-repeat;
	}
	.relative_block .likes2, .relative_block .dislikes2, .relative_block .comments2{
		margin-left:-25px;	
	}
	.relative_block .share2, .relative_block .star{
		margin-left: -28px;
	}
	.relative_block .prv:hover{
		background-position: 0 -45px;
		cursor: pointer;
	}
	.relative_block .prv:active{
		background-position: 0 -90px;
	}
	.relative_block .nxt:hover{
		background-position: 0 -45px;
		cursor: pointer;
	}
	.relative_block .nxt:active{
		background-position: 0 -90px;
	}
	

}
@media(max-width: 500px){
.comment_block .reply_block button{
		clear: both;
		width: 100%;
		margin-right:0;
	}
}	
@media(max-width: 450px){
	.author_block .image .avatar{
		width:100px;
	}
	
}
@media(max-width: 400px){
	#menu .top_menu .submenu_trigger .submenu  .checkbox{		
		font-size:7px;
	} 
}	