table, th, td {
    border: 1px solid black;
    border-spacing: 5px;
}

th, td {
    padding: 15px;
}

caption {
    font-style: inherit;
    font-size: large;
    padding: 15px;
}

button.btn1 {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

button.btn1:hover {
    background-color: #bfbfbf;
}

.fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-caret-down:before {
    content: '';
    position: relative;
    right: -4px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #373A3C;
    z-index: 2;
}

.fa-caret-up:before {
    content: '';
    position: relative;
    right: -4px;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #373A3C;
    z-index: 2;
}

tr:nth-child(2n) {
    background: #eee;
}

th, tr:active, tr:hover {
    background: #ccc;
}

.hidden {
    display: none !important;
}