html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
	text-align: left;	
	background: #f0f2f5;
	color: #333333;	
	font-size:15px;
	font-family: 'Open Sans', Arial, sans-serif;	
	padding-right: 0 !important;
}
html{
  overflow-y: scroll;
  overflow-x: auto;
}

.container{
	max-width:1200px;	
	position:relative	
}
input:focus{	
	outline:0;
}
/* menu block*/
#menu{
	width:100%;
	float:left;
	background: #292929;
	height: 60px
}
#menu .logo{
	padding:8px 0 0 0;
	float:left;
	width:65px;	
	max-width: 6%;
}
#menu .top_menu{
	list-style: none;
	display: table;
	float:left;	
	width:94%;	
}
#menu .top_menu li{
	display: table-cell;
	text-align: center;
	font-size: 15px;
	font-family: 'Raleway', Arial, sans-serif;			
	vertical-align: top;	
	position:relative;
	padding:0 8px 0 8px;
}
#menu .top_menu .liked{
	padding:0;
	color: white;
	line-height: 60px;
}
#menu .top_menu .hidden_wide, #menu .top_menu .hv,  #menu .top_menu .active .hv{
	display: none;
}
#menu .top_menu li span{
	display: inline-block;
}
#menu .top_menu li .num{
	background: #00ded1;
	font-size: 10px;
	color: black;
	font-size:600;
	border-radius:6px;
	position: absolute;
	top:15px;
	right: -3px;
	height:15px;
	padding:0 4px 0 4px;
	line-height:15px;
}
#menu .top_menu li a{
	color: white;
	line-height: 60px;	
	text-decoration: none;	
	display: inline-block;
}
#menu .top_menu li a:hover{
	background: url('link_border.png') bottom left repeat-x;
	color: #00ded1;
}
#menu .top_menu .submenu_trigger{
	position:relative;
	color: white;
	line-height: 60px;			
	cursor: pointer;
	
}
#menu .top_menu .submenu_trigger span{
	background: url('arrow0.png') 100% 26px no-repeat;
	padding-right:20px;
}

#menu .top_menu .submenu_trigger span:hover{
	background: url('link_border.png') bottom left repeat-x,  url('arrow.png') 100% 26px no-repeat;
	color: #00ded1;
	cursor: pointer;	
}
#menu .trigger{
	display: none;
}
#menu .add_pst{
	display: none;
}
#menu .usr{
	display: none;
	position:relative;
	
}
#menu .top_menu li .profile_login{
	line-height: 20px;
	padding:10px 0 10px 0;	
}
#menu .top_menu li .profile_login span{
	text-align: right;	
	display: block;	
}
#menu .top_menu li .profile_login:hover span{
	background: none;
	color: white;
}
#menu .usr:hover{
	cursor: pointer;
}
#menu .user_submenu{
	position: absolute;
	top:75px; 
	right:0;
	z-index:100;	
	background: white;
	border-radius: 6px;
	display: block;
	padding: 14px 0 14px 0;
	text-align: left;
	display: none;	
	list-style: none;
}
#menu .top_menu .submenu_trigger .submenu{
	position: absolute;
	top:75px; 
	left:0;
	z-index:100;	
	background: white;
	border-radius: 6px;
	display: block;
	padding: 14px 0 14px 0;
	text-align: left;
	display: none;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
#menu .top_menu .active span{
	background: url('arrow.png') 100% 26px no-repeat, url('link_border.png') bottom left repeat-x;
	color: #00ded1;	
	display: inline-block;
}
#menu .top_menu .login_text{
	width: 290px;
	color: white;
	text-align: center;
}
#menu .top_menu .login_text a{
	cursor: pointer
}
#menu .top_menu .active .submenu {
    display: block;
}
#menu .top_menu .submenu_trigger .popular{
	width:160px;	
	line-height: normal;		
}
#menu .top_menu .submenu_trigger .categories{
	width:330px;	
	line-height: normal;
	color:#333333;		
}
#menu .top_menu .submenu_trigger .search{
	width:460px;
	padding: 14px;
	line-height: normal;
	color: #333333;
}
a.commentsUnreaded {
	background: url('link_border.png') bottom left repeat-x;
	color: #00ded1 !important;
}
#menu .top_menu .submenu_trigger .search input[type="text"]{
	border:0;
	border-bottom: 1px solid #a6afbd;
	height:30px;
	width:100%;
	background: none;
	position:relative;
}
#menu .top_menu .submenu_trigger .search button {
	border:0;
	background: #00ded1;
	border-radius:6px;
	color: white;	
	font-size: 15px;
	font-family: 'Raleway', Arial, sans-serif;	
	height:30px;
	width:100%;
}
#menu .top_menu .submenu_trigger .search .clear_form{
	z-index:50;
	cursor: pointer;
	background: url('clear.png') top left no-repeat;
	width:10px;
	height:10px;
	background-position: 0 0;
	top:10px;
	right:20px;
	position: absolute;
	
}
#menu .top_menu .submenu_trigger .search input:focus +.clear_form{
	background-position: 0 -10px;
}
#menu .top_menu .submenu_trigger .search input:focus{
	border-bottom: 1px solid #ff0f64
}
#menu .top_menu .submenu_trigger .submenu:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: white;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);	
}	
#menu .top_menu .submenu_trigger .submenu li{
	display: block;
	text-align: left;	
	padding:0;
}
#menu .top_menu .submenu_trigger .submenu li a{
	line-height: normal;	
	display: block;
	color: #333333;
	padding:10px;
}
#menu .top_menu .submenu_trigger .submenu li a:hover{
	background: #00ded1;
	color: white;
}
#menu .top_menu .submenu_trigger .selected_categories{	
	width:200px;
	z-index:10;
}
#menu .top_menu .submenu_trigger .selected_categories.visible{
	display: block !important;
}
#menu .top_menu .submenu_trigger .selected_categories ul li{
	margin:5px 20px 5px 20px;
	color: #333333;
	line-height: 20px;
	display: none;
}
#menu .top_menu .selected_categories.visible ul  .show{
	display: block;
}
#menu .top_menu .selected_categories ul li span{
	float: right;
}
#menu .top_menu .selected_categories ul li span:hover{
	background: none;
}
#menu .top_menu .usr{
	background: none;
}
#menu .top_menu .usr:hover{
	background: none;
}
#menu .user_submenu{
	width:200px;
	font-weight:bold;	
}
#menu .top_menu .message_link{
	padding-top:15px;
	line-height: normal;
}
#menu .top_menu .message_link span{
	line-height:14px;
	color: white
}	
#menu .top_menu .message_link span{
	
}
#menu .usr .active{
	display:block;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
#menu .top_menu .submenu_trigger .user_submenu:before {
    content: "";
    position: absolute;
    left: 20px;	
    top: 0%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: white;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);	
}
#menu .user_submenu li a{
	line-height: normal;	
	display: block;
	color: #333333;
	padding:10px;
	text-decoration: none;
}
#menu .user_submenu li a:hover{
	background: #c0c7d1;
	color: white;
}
#menu .user_submenu .selected a{
	color:#f4226d;
}
#menu .top_menu .submenu_trigger .submenu  .checkbox{
	padding-bottom:10px;
	padding-top: 10px;
	margin:0;
	width:50%;
	float:left;	
	line-height: 20px;
}
#menu .top_menu .submenu_trigger .submenu  .checkbox:hover label{
	text-decoration: underline;
}

#menu .top_menu .rating {
	padding-right: 60px;
}
#menu .top_menu .submenu_trigger.search_icon{
	background: none !important;		
}
#menu .top_menu .submenu_trigger.search_icon img{
	padding-top:22px;
}
#menu .top_menu .submenu_trigger.search_icon:hover{
	cursor: pointer;
	background: none;
}

#menu .top_menu .submenu_trigger .submenu  .checkbox:nth-of-type(2n+1){
	border-right: 1px solid #a6afbd;
}
#menu .top_menu .submenu_trigger .submenu  .checkbox label{	
	margin:0;	
} 
#menu .top_menu .submenu_trigger .submenu  .checkbox input[type="checkbox"]{
	display:none;	
}
#menu .top_menu .submenu_trigger .submenu  .checkbox  input[type="checkbox"]{
	cursor: pointer;
}
#menu .top_menu .submenu_trigger .submenu  .checkbox input[type="checkbox"] + label:before{
	content: "";  
	display: block;  
	float: left;
	width: 20px;
	height: 20px;
	background: url('checkbox.png') top left no-repeat;
	margin: 0px 14px 0 0;
}
#menu .top_menu .submenu_trigger .submenu  .checkbox  input[type="checkbox"]:checked + label:before{
	background: url('checkbox_selected.png') top left no-repeat;
}
#menu .top_menu .user_image {
    width: 30px;
    height: 30px;
	margin: 15px 0 0 0;
	float: left;
}
#menu .top_menu .right_link{
	float: right;
	padding:10px 0 0 10px;
}
#menu .top_menu .right_link .login{
	width:150px;
	text-align: center;
	background: #00ded1;
	border-radius:5px;
	color: white;
	padding:10px 0 10px 0;
	display: block;
	text-decoration: none;
	font-weight:600;
	transition-property: background;
	transition-duration: 0.5s;
	line-height: normal;	
	cursor: pointer;
} 
#menu .top_menu .right_link .login:hover{
	background: #00c4b9;
	transition-property: background;
	transition-duration: 0.5s;
}
#menu .top_menu .right_link .login:active{
	background: white;
	color:#00ded1;
	border: 3px solid #00ded1;
	padding:7px 0 7px 0;
}
#menu .top_menu .right_link .add_post{
	width: 150px;	
	text-align: center;
	background: #ff0f64;
	border-radius:5px;
	color: white;
	padding:10px 0 10px 0;
	display: block;
	text-decoration: none;
	font-weight:600;
	transition-property: background;
	transition-duration: 0.5s;
	line-height: normal;
	cursor: pointer;
} 
#menu .top_menu .right_link .add_post:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
#menu .top_menu .right_link .add_post:active{
	background: white;
	border: 3px solid #f20056;
	color:#f20056;
	padding:7px 0 7px 0;
}

#menu .top_menu .right_link .dropdown-menu {
    /*margin-top:25px;*/
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 100;
    background: white;
    border-radius: 6px;
    padding: 5px 0;
    text-align: left;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

#menu .top_menu .right_link .dropdown-menu:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 0%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: white;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu .top_menu .right_link .dropdown-menu li {
    margin: 5px 0;
}

/*      index   header block           */
#header_block{
	float:left;
	width:100%;
}
#header_block  .more_button{
	border: 2px solid white;
	border-radius: 6px;
	color: white; 
	width: 170px;	
	text-align: center;
	font-weight: 600;
	display: block;
	padding: 7px 0 7px 0;
	font-size: 15px;
	text-decoration: none;
	font-family: 'Raleway', Arial, sans-serif;
}
#header_block  .more_button:hover{
	border: 2px solid #ff0f64;		
}
#header_block  .more_button:active{
	background: white;	
	color: #ff1f6e;		
}
#header_block  .looks{
	white-space: nowrap;
	color: white;
	font-weight:600;
	font-size:12px;
	background: url('white_eye.png') center left no-repeat;
	padding: 0 35px 0 35px;
}
#header_block  .likes{
	white-space: nowrap;
	color: white;
	font-weight:600;
	font-size:12px;
	background: url('white_like.png') center left no-repeat;
	padding: 0 35px 0 35px;
}
#header_block  .dislikes{
	white-space: nowrap;
	color: white;
	font-weight:600;
	font-size:12px;
	background: url('white_dislike.png') center left no-repeat;
	padding: 0 35px 0 35px;
}
#header_block  .comments{
	white-space: nowrap;
	color: white;
	font-weight:600;
	font-size:12px;
	background: url('white_comment.png') center left no-repeat;
	padding: 0 35px 0 35px;
}
#header_block .left_block{
	background: url('filter.png') top center repeat, url('h1.jpg') top center no-repeat;
	border-right: 2px solid white;  
	padding:0; 
	margin:0; 
	height:636px; 	
	background-size: cover;	
}
#header_block .left_block .text_container{
	float: right; 
	max-width: 570px; 
	width: 100%; 
	padding-left:30px;	
}
#header_block .left_block .text_container .block_header h2 {
	color: white;
	font-family: 'Raleway', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:800;
	font-size:50px;
	max-width:500px;
	line-height:54px;
	padding:180px 0 0 0;
	margin: 0;
}
#header_block .left_block .text_container .block_header a{
	color: white;
	text-decoration: none;
}
#header_block .left_block .text_container .block_header a:hover{
	text-decoration: underline;
}
#header_block .left_block .text_container .icons_block{
	padding:8px 0 36px 0;
}
#header_block .right_block{
	border-left: 2px solid white; 
	padding:0; 
	margin:0;
}
#header_block .right_block .top_subblock{
	background:  url('filter.png') top center repeat, url('h2.jpg') top center no-repeat;
	border-bottom: 2px solid white; 
	height: 318px;	
	background-size: cover;
}
#header_block .right_block .bottom_subblock{
	background:  url('filter.png') top center repeat, url('h3.jpg') top center no-repeat;
	border-top: 2px solid white; 
	height: 318px;
	background-size: cover;
}
#header_block .right_block .text_container{
	max-width: 540px;
	width:100%;	
	padding-left:30px;
}
#header_block .right_block .block_header h2 {
	color: white;
	font-family: 'Raleway', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:800;
	font-size:30px;
	padding:50px 0 0 0;
	line-height:34px;
	margin: 0;
}
#header_block .right_block .block_header a{
	color: white;
	text-decoration: none;
}
#header_block .right_block .block_header a:hover{
	text-decoration: underline;
}
#header_block .right_block .text_container .icons_block{
	padding:10px 0 36px 0;
}


#main_block{
	width:100%;
	float:left;
	padding-top:50px;
	padding-bottom:30px;
}

/*       left index pane       */
.left_pane .index_subheader{
	width:100%;	
	background: url('border.png') center left repeat-x;
	font-weight: bold;
	font-size:30px;
	text-transform: uppercase;	
	margin:0 0 20px 0;
}
.left_pane  .index_subheader span{
	background: #f0f2f5;
	padding-right:40px;
}
.left_pane .pane_block{
	background: white;
	border-radius: 8px;
	margin-bottom:20px;	
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.left_pane .pane_block .gifs_items{
	margin:0;
	padding:0 5px 0 5px;
}
.left_pane .pane_block .gifs_items .img{
	position: relative;
}  
.left_pane .pane_block .gifs_items .img .post_link{
	position: absolute;
	width:80px;
	height: 80px;
	background: url('gifimg.png') top left no-repeat;
	background-position:0 0;
	margin: auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display: block;
	z-index:50;
}
.left_pane .pane_block .gifs_items .img .post_link:hover{
	background-position: 0 -80px;
}
.left_pane .pane_block .gifs_items .img img{
	border-radius:8px;
	margin-top:20px;
}
.left_pane .pane_block .gifs_items .descr{
	text-transform: uppercase;
	font-weight:bold;
	font-size:30px;
	line-height:34px;
	padding:12px 0 26px 0;
}
.left_pane .pane_block .gifs_items .descr a{
	color: #333333;
	text-decoration: none;
}
.left_pane .pane_block .gifs_items .descr a:hover{
	text-decoration: underline;
}
.left_pane  .more_button{
	display: block;
	max-width: 310px;
	width: 100%;
	margin: 30px auto 20px auto;
	background: #ff0f64;
	border-radius:6px;
	color: white;
	text-transform: uppercase;
	font-size:15px;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	padding:9px 0 9px 0;	
	transition-property: background;
	transition-duration: 0.5s;
}
.left_pane  .more_button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.left_pane  .more_button:active{
	background: white;
	color:#ff1f6e;
	border: 3px solid #f20056;
	padding:6px 0 6px 0;
}
.left_pane .pane_block .rounded_image {
	position:relative;
}
.videolink {
	width:110px;
	height:110px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	z-index:50;
	background: url('videoimg.png') top left no-repeat;
	background-position:0 0;
}
.videolink:hover{
	background-position: 0 -110px;
}
.left_pane .pane_block .rounded_image .icon{
	position: absolute;
	top: 10px;
	right:10px;
	z-index:50;
	border-radius:0;
}
.left_pane .pane_block .rounded_image .img-responsive{
 width:100%;
}
.post-img {
    width: 750px;
    height: 380px;
    object-fit: cover;
}
.left_pane .pane_block .rounded_image  .add_items{
	position: absolute;
	bottom: 10px;
	left:12px;
	z-index:90;
	border-radius:0;
	display: none
}
.left_pane .pane_block .rounded_image  .add_items .star{
	line-height: 48px;	
	height: 48px;
	display: inline-block;
	background: url('star.png') top left no-repeat;
	background-position: 0 0;
	padding:0 0 0 45px;
	background-position: 0 0;
	color: white;
	margin-bottom:5px;
	text-decoration: none;
}
.left_pane .pane_block .rounded_image  .add_items .star:hover{
	background-position: 0 -48px;
	color: #ff0f64
}
.left_pane .pane_block .rounded_image  .add_items .star:active{
	background-position: 0 -96px;
	color:#a6afbd;
}
.left_pane .pane_block .rounded_image  .add_items .share{
	line-height: 48px;	
	height:48px;
	display: inline-block;
	background: url('share.png') top left no-repeat;
	background-position: 0 0;
	padding:0 25px 0 45px;
	background-position: 0 0;
	color: white;
	margin-bottom:5px;
	text-decoration: none;
}
.left_pane .pane_block .rounded_image  .add_items .share:hover{
	background-position: 0 -48px;
	color: #ff0f64
}
.left_pane .pane_block .rounded_image  .add_items .share:active{
	background-position: 0 -96px;
	color:#a6afbd;
}
.left_pane .pane_block .rounded_image img, .left_pane .pane_block .rounded_image .embed-container {
	border-radius: 8px 8px 0 0;
}
.left_pane .pane_block .text_block{
	padding:25px 30px 10px 30px;
}
.left_pane .pane_block .text_block.narrow{
	padding:25px 10px 5px 10px;
}
.left_pane .pane_block .text_block .subheader{
	font-weight:bold;
	font-size:30px;
	text-transform: uppercase;
	line-height:34px;
	margin: 0;
}
.left_pane .pane_block .text_block .subheader a{
	color: #333333;
	word-wrap: break-word;
}
.left_pane .pane_block .text_block .subheader a:hover{
	text-decoration: underline;
}
.left_pane .pane_block .text_block .subheader .popular{
	float: right;
	background: #850cc2;
	border-radius:8px;
	height:34px;
	font-size: 12px;
	font-weight:600;
	color: white;
	padding:0 20px 0 20px;
}
.left_pane .pane_block a .edit_post {
    position: absolute;
    left: 30px;
    top: 25px;
	background: #000;
	border-radius: 8px;
	font-size: 12px;
	color: #fff;
	height: 34px;
	line-height: 34px;
	padding: 0 20px 0 20px;
}
.left_pane .pane_block .text_block .subheader .hot{
	float: right;
	background: #de1f00;
	border-radius:8px;
	height:34px;
	font-size: 12px;
	font-weight:600;
	color: white;
	padding:0 20px 0 20px;
}
.left_pane .pane_block .text_block .date{
	clear: both;
	color: #a6a6a6;
	font-size:15px;
	padding:8px 0 6px 0;	
}
.left_pane .pane_block .text_block .user  div{
	float:left;
}
.left_pane .pane_block .text_block .user.hidden_wide{
	display: none;
} 
.left_pane .pane_block .text_block .user .name{
	line-height:30px;	
	color: #a6a6a6;
	text-decoration: underline;	
	padding:0 10px 0 10px;
}
.left_pane .pane_block .text_block .user .add{
	float: none;
}
.left_pane .pane_block .text_block .user .add a{
	width:30px;
	height:30px;
	background-position: 0 0;
	display: inline-block;
	background: url('add.png') top left no-repeat;
}
.left_pane .pane_block .text_block .user .add a:hover{
	background-position: 0 -30px;
}
.left_pane .pane_block .text_block .user .add a:active{
	background-position: 0 -60px;
}
.left_pane .pane_block .text_block .txt{
	line-height: 24px;
	padding-bottom: 14px;
}
.left_pane .pane_block .text_block .txt a{
	color: #ff0f64;
	text-decoration: underline;
}
.left_pane .pane_block .text_block .txt a:hover{
	color:#ea0053
}
.left_pane .pane_block .text_block .txt a:visited{
	color:#00ded1;
}
.left_pane .pane_block .text_block .txt .disabled{
	color:#a6afbd
}
.left_pane .pane_block .text_block .additional_info{
	border-top: 1px solid #e6e6e6;
	font-size: 12px;
	font-weight: 600;
	color:#bfbfbf;
	padding:9px 0 0 0;
}
.left_pane .pane_block .text_block .additional_info a{ 
	line-height: 42px;
	height:42px;
	display: inline-block;	
	padding:0 20px 0 42px;	
	margin-top:3px;
	text-decoration: none;
	color:#333333;
	cursor: pointer;
}
.left_pane .pane_block .text_block .additional_info a:hover,
.post_info_block .active:hover {
	color: #00ded1;
	background-position: 0 -84px;
}
.left_pane .pane_block .text_block .additional_info .dislikes:hover,
.post_info_block .active.red:hover {
	color:#ff0f64;
}
.left_pane .pane_block .text_block .additional_info a:active,
.post_info_block .active:active {
	color:#a6afbd;
	background-position: 0 -126px;
}
.left_pane .pane_block .text_block .additional_info.narrow{
	border-top:0;
	padding-top:0;
}
.left_pane .pane_block .text_block .additional_info.narrow a{
	padding-right:10px;
}
.left_pane .pane_block .text_block .additional_info .looks{	
	background: url('eye_rounded.png') top left no-repeat;
	background-position: 0 -42px;
	cursor: default;
}
.left_pane .pane_block .text_block .additional_info .likes{	
	background: url('like_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
}
.left_pane .pane_block .text_block .additional_info .dislikes{	
	background: url('dislike_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
}
.left_pane .pane_block .text_block .additional_info .comments{	
	background: url('comment_rounded.png') top left no-repeat;
	background-position: 0 -42px;
}
.left_pane .pane_block .text_block .additional_info .disabled,
.left_pane .pane_block .text_block .additional_info .looks:hover
{
	background-position: 0 0;
	color: #b3b3b3;
}
.left_pane .pane_block .text_block .additional_info .share{
	line-height: 48px;	
	height:48px;
	display: inline-block;
	background: url('share.png') top left no-repeat;
	background-position: 0 0;
	padding:0 20px 0 45px;
	background-position: 0 0;
	color: #333333;	
	margin-top: 0;
	background-position: 0 0;
}
.left_pane .pane_block .text_block .additional_info .share:hover{
	background-position: 0 -48px;
	color:#ff0f64;
}
.left_pane .pane_block .text_block .additional_info .share:active{
	background-position: 0 -96px;
	color: #a6afbd;
}
.left_pane .pane_block .text_block .additional_info .star{
	line-height: 48px;	
	height: 48px;
	display: inline-block;
	background: url('star.png') top left no-repeat;
	background-position: 0 0;
	padding:0 0 0 45px;
	background-position: 0 0;
	color: #333333;	
	margin-top: 0;
}
.left_pane .pane_block .text_block .additional_info .star:hover,
.post_info_block .star2:hover {
	background-position: 0 -48px;
	color: #ff0f64;
}
.left_pane .pane_block .text_block .additional_info .star:active,
.post_info_block .star2:active {
	background-position: 0 -96px;
	color: #a6afbd;
}
.left_pane .pane_block .text_block .additional_info .star.marked{
	background-position: 0 -144px;
}
.left_pane .pane_block .text_block .additional_info  .tooltip-inner a{
	color: black;
	display: inline;
	padding:0;
}
.left_pane .pane_block .text_block .additional_info .marked:hover{
	background-position: 0 -192px;
}
.left_pane .pane_block .text_block .additional_info .right_items{
	float: right;
}
.left_pane .pane_block .text_block .additional_info .right_items.hidden_wide{
	display: none;
}
.left_pane .pane_block .rounded_image  .rounded{
	border-radius: 8px 0 0 8px;	
}
.left_pane  .separator{
	width:100%;	
	background: url('border.png') top left repeat-x;
	height: 2px;
	margin-bottom:30px;
}



/*         right pane     */
.right_pane .pane_block{
	background: white;
	border-radius: 8px;
	margin-bottom:20px;
	padding: 23px 25px 30px 25px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.right_pane .pane_block .preview {
    position: relative;
}
.right_pane .pane_block .other_posts{
	max-width: 230px;
	margin: 0 auto;
}
.right_pane .pane_block .other_posts p{
	font-weight:bold;
	font-size:20px;
	padding-bottom:20px;
}
.right_pane .pane_block .block_header {
	font-weight:bold;
	text-transform: uppercase;
	font-size:20px;
	padding-bottom:20px;
}
.right_pane .pane_block .block_header h2,
.right_pane .pane_block .block_header h3 {
	font-weight:bold;
	font-size:20px;
	margin: 0;
}
.right_pane .pane_block .block_header a{
	color:#333333;
}
.right_pane .pane_block .block_header a:hover{
	text-decoration: underline;
}
.right_pane .pane_block .author_item{
	border-bottom: 1px solid  #e6e6e6;	
	margin:0;	
	padding: 12px 0 12px 0;
}
.right_pane .pane_block .author_item:last-of-type{
	border-bottom:0;
	padding-bottom:0;
}
.right_pane .pane_block .author_image{
	padding-left:0;
	padding-right:0px;
}
.right_pane .pane_block .author_image img{
	border-radius:6px;
}
.right_pane .pane_block .author_text{
	padding-left:10px;
}
.right_pane .pane_block .author_text .name{
	font-weight:600;
	font-size:20px;
	padding-top:4px;
}
.right_pane .pane_block .author_text .name a{
	color:#333333;
}
.right_pane .pane_block .author_text .name a:hover{
	text-decoration: underline;
}
.right_pane .pane_block .author_text .looks{
	background: url('icon_eye.png') center left no-repeat;
	padding:0 10px 0 25px;
	font-size:12px;
	font-weight:600;	
	white-space: nowrap;
}
.right_pane .pane_block .author_text .likes{
	background: url('icon_like.png') center left no-repeat;
	padding:0 10px 0 20px;
	font-size:12px;
	font-weight:600;	
	white-space: nowrap;
}
.right_pane .pane_block .author_text .subscribers{
	background: url('icon_user.png') center left no-repeat;
	padding:0 6px 0 20px;
	font-size:12px;
	font-weight:600;	
	white-space: nowrap;
}
.right_pane .preview img{
	border-radius: 6px;
}
.right_pane .description {
	text-transform: uppercase;
	font-weight: bold;
	font-size:20px;
	padding-bottom:44px;
}
.right_pane .description a {
	color: #333333;
	word-wrap: break-word;
}
.right_pane .description a:hover {
	text-decoration: underline;
}
.right_pane  .more_button{
	background: #ff0f64;
	display: block;
	border-radius:6px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Raleway', Arial, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding: 10px 0 10px 0;
	transition-property: background;
	transition-duration: 0.5s;
	cursor: pointer;
}
.right_pane  .more_button:hover{
	background: #ea0053;
	text-decoration: none;
	transition-property: background;
	transition-duration: 0.5s;
}
.right_pane  .more_button:active{
	background: white;
	color:#ff0f64;
	border: 3px solid #f20056;
	padding: 7px 0 7px 0;
}


#inner_page{
	width:100%;
	float:left;
	background: #f0f2f5 url('inner_top.jpg') top center no-repeat;
	padding-bottom: 70px;
}
.post_block{
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	padding:30px;
	margin-bottom:20px;	
	position:relative;
}
.post_block .close{
	position: absolute;
	top:5px;
	right:10px;
	opacity:1;
}
.post_block .red_arrow{
	position: absolute;
	top:30px;
	right:-20px;
}
.post_block .rounded_text_block{
	border: 1px solid #333333;
	border-radius: 8px;
	padding:20px 30px 30px 30px;
	line-height:20px;
}
.post_block .rounded_text_block.editable:focus{
	border: 1px solid #FF0F64
}

.post_block .rounded_text_block textarea:focus{
	border: 1px solid #FF0F64
}
.post_block  .gray_rounded_block{
	border: 1px solid #d1d8e3;
	background: #f5f7fa;
	border-radius: 8px;
	position: relative;
	padding:0 15px 0 15px;
}
.post_block  .gray_rounded_block .required_field{
	position: absolute;
	top:4px;
	right:10px;
}
.post_block  .gray_rounded_block .video{
	padding: 36px 0 36px 0;
}
.post_block  .gray_rounded_block .add_subheader{
	text-align: center;
	color:#858d99;
	padding:62px 0 20px 0;
}
.post_block  .gray_rounded_block  .add_content_block{
	max-width: 930px;
	margin: 0 auto;
	padding:0 0 65px 0;
}
.post_block  .gray_rounded_block .content_block img{
	padding-bottom: 20px
}
.post_block  .gray_rounded_block .content_block .fileinput{
	width:100%;
	border: 2px dashed #d1d8e3;
	text-align: center;
	height: 76px;
	line-height:76px;
	font-size:15px;
	background: transparent;
	border-radius:8px;
	color:#c0c7d1;
	padding:0;
	box-shadow: none;
}

.post_block   .drag{
	width:100%;
	border: 2px dashed #d1d8e3;
	text-align: center;
	height: 76px;
	line-height:76px;
	font-size:15px;
	background: transparent;
	border-radius:8px;
	color:#c0c7d1;	
}
.post_block  .gray_rounded_block .content_block .hover{
	border: 2px dashed #ff0f64;
}

.post_block .gray_rounded_block .filebutton {
    position: absolute;
    cursor: pointer;
	width:100%;
	text-align: center;
	height: 50px;
	line-height:50px;	
	padding:0;	
	border:0;
	background: #d1d8e3;
	border-radius: 8px;
	color: white;
	font-size: 15px;	
	font-family: 'Raleway', Arial, sans-serif;		
	font-weight:600;
	margin-top:20px;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block  .gray_rounded_block  .filebutton:hover{
	background: #b0b6bf;
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block  .gray_rounded_block  .filebutton:active{
	background: white;
	border: 3px solid #b0b6bf;
	color:	#b0b6bf;
}
.post_block  .gray_rounded_block .add_cover{
	text-align: center;
	color: #949ba6;
	font-size:15px;
	padding:45px 0 25px 0;
}
.post_block  .gray_rounded_block .add_cover_block{
	max-width: 770px;
	margin: 0 auto;
	padding-bottom:50px;
}
.post_block  .gray_rounded_block .add_cover_block .filebutton{
	width:100%;
	border:0;
	padding:0;
	background: #d1d8e3;
	border-radius: 8px;
	color: white;
	font-size: 15px;	
	font-family: 'Raleway', Arial, sans-serif;		
	font-weight:600;
	margin-top:20px;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
	transition-property: background;
	transition-duration: 0.5s;		
	height: 50px;	
	line-height: 50px;
}
.post_block  .gray_rounded_block .add_cover_block .filebutton:hover{
	background: #b0b6bf;
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block  .gray_rounded_block .add_cover_block .filebutton:active{
	background: white;
	border: 3px solid #b0b6bf;
	color:	#b0b6bf;
}
.post_block  .gray_rounded_block .add_cover_block .fileinput{
	width:100%;
	border: 2px dashed #d1d8e3;
	text-align: center;
	height: 70px;
	font-size:15px;
	background: transparent;
	border-radius:8px;
	color:#c0c7d1;
	box-shadow: none;
	line-height:70px;	
	padding:0;
	margin:0;
}
.post_block .dashed_rounded_block{
	border: 2px dashed #d1d8e3;
	margin:30px 15px 30px 15px;
	border-radius:8px;
	text-align: center;
	color:#858d99;
	padding:30px 20px 30px 20px;
	background-size: cover;
	background-position: center top;
}

.post_block .dashed_rounded_block .filebutton{
	max-width: 270px;
}
.post_block .dashed_rounded_block .drag{
	border:0;
	max-width:400px;
	margin:10px auto 10px auto;
}

.post_block .dashed_rounded_block.drag_over {
    border: 2px dashed #ff0f64;
}
.post_block .dashed_rounded_block .button_container {
    height: 70px;
    position: relative;
}
.post_block .dashed_rounded_block .button_container input[type="file"] {
    height: 50px;
    line-height: 50px;
    opacity: 0;
    cursor: pointer;
}

.post_block .dashed_rounded_block img{
	padding-top:20px;
	padding-bottom: 20px;
}
.post_block  .link_rounded_block{
	border: 1px solid #d1d8e3;
	background: #f5f7fa;
	border-radius: 8px;
	position: relative;
	padding:30px;
	text-align: center;
	color:#858d99;
}


.post_block  .link_rounded_block img{
	padding:20px 0 30px 0;
}
.post_block .input{
	position: relative;
	margin:0;
	padding-bottom:20px;
}
.video_block .input {
    padding: 0 12px;
}

.post_block .row.input div,
.video_block .row.input div {
	padding:0;
}
.post_block .select{	
	margin:0;
	padding-bottom:30px;
}
.post_block .row.select div{
	padding:0;
}
.post_block .label_block{
	font-weight:bold; 
	font-size:20px;
	line-height: 58px;
}
.post_block .textarea,
.video_block .textarea {
	margin:0;	
	position: relative;
}
.post_block .input .required_field, .post_block .textarea .required_field,
.video_block .input .required_field, .video_block .textarea .required_field {
	position: absolute;
	top:4px;
	right:10px;
}
.post_block .input input[type="text"],
.video_block .input input[type="text"] {
	height:58px;
	font-size:15px;
	border: 1px solid #d1d8e3;
	box-shadow: none;	
}
.post_block .input input[type="password"]{
	height:58px;
	font-size:15px;
	border: 1px solid #d1d8e3;
	box-shadow: none;	
	position: relative;
}
.post_block .form-control-pass{
	background: url('eye.png') top left no-repeat;
	top:18px;
	right:20px;
	width: 40px;
	height:25px;
	background-position: 0 0;
	position: absolute;
}
.post_block .form-control::-moz-placeholder{
	color:#c0c7d1;
}
.post_block .input input:focus{	
	border: 1px solid #ff0f64;	
}

#videoBlocks .video_block input.input:focus,
#videoBlocks .video_block textarea:focus {
    border: 1px solid #ff0f64;
    box-shadow: none;
    background-color: white;
}

.post_block .input input:focus + .form-control-pass,
.video_block .input input:focus + .form-control-pass {
	background-position: 0 -50px;	
}
.post_block .input.complete input[type="password"]{
	border: 1px solid #858d99
}
.post_block .input.complete input[type="password"]+.form-control-pass{	
	background-position: 0 -25px;		
}
.post_block .input.has-success input[type="text"],
.video_block .input.has-success input[type="text"] {
	border: 1px solid #00c9bd; 
}
.post_block .has-success .form-control-feedback{
	background: url('input_ok.png')top left no-repeat;
	top:18px;
}
.post_block .input.has-error input[type="text"],
.video_block .input.has-error input[type="text"] {
	border: 1px solid #ff0f64; 
}
.post_block .has-error .form-control-feedback{
	background: url('input_error.png')top left no-repeat;
	top:18px;
}
.post_block .input.complete input[type="text"],
.video_block .input.complete input[type="text"] {
	border: 1px solid #858d99
}
.post_block .input.disabled input[type="text"]{
	border: 1px solid #a6afbd;
	background: #ebedf2
}
.post_block .textarea textarea{
	resize: none;
	height:170px;
	border: 1px solid #d1d8e3;
	box-shadow: none;
	font-size:15px;
}
.post_block .textarea textarea:focus{	
	border: 1px solid #ff0f64;	
}
.post_block .textarea.has-success textarea{
	border: 1px solid #00c9bd; 
}
.post_block .textarea.has-error textarea{
	border: 1px solid #ff0f64; 
}
.post_block .textarea.disabled textarea{
	border: 1px solid #a6afbd;
	background: #ebedf2
}
.post_block .content_links{
	max-width: 390px;	
	margin: 0 auto;
}
.post_block .add_content_subheader{
	text-align: center;
	color:#858d99;
	padding-bottom:12px;
}
.post_block .content_links  a{
	width:40px;
	height:40px;
	background-position:0 0;
	display: inline-block;
	margin:0 17px 0 17px;
}
.post_block .content_links .text{	
	background: url('txt.png') top left no-repeat;
}
.post_block .content_links .image{	
	background: url('im.png') top left no-repeat;
}
.post_block .content_links .video{	
	background: url('vd.png') top left no-repeat;
}
.post_block .content_links .gif{	
	background: url('gf.png') top left no-repeat;
}
.post_block .content_links .link{	
	background: url('link.png') top left no-repeat;
}
.post_block .content_links a:hover{
	background-position:0 -40px;
} 
.post_block .content_links .tooltip.top .tooltip-arrow{
	border-top-color: #f5f7fa;	
}
.post_block .content_links .tooltip-inner{
	background: #f5f7fa;
	color:#333333;
	font-size:15px;	
}
.post_block .btn-default {
	border: 1px solid #d1d8e3;
	color: #c0c7d1;
}
.post_block .btn-default.selected {
    color: #333333;
}
.post_block .link_block{
	padding:30px 0 25px 0;
	margin:0;
}
.post_block .link_block div{
	padding:0;
	position: relative
}
.post_block .link_block input[type="text"]{
	height:38px;
	font-size:15px;
	border: 1px solid #d1d8e3;
	box-shadow: none;	
}
.post_block .link_block input:focus{	
	border: 1px solid #ff0f64;	
}
.post_block .link_block .has-success input[type="text"]{
	border: 1px solid #00c9bd; 
}
.post_block .link_block .has-success .form-control-feedback{
	background: url('input_ok.png')top left no-repeat;
	top:10px;
}
.post_block .link_block .has-error input[type="text"]{
	border: 1px solid #ff0f64; 
}
.post_block .link_block .has-error .form-control-feedback{
	background: url('input_error.png')top left no-repeat;
	top:8px;
}
.post_block .link_block .complete input[type="text"]{
	border: 1px solid #858d99
}
.post_block .link_block .disabled input[type="text"]{
	border: 1px solid #a6afbd;
	background: #ebedf2
}
.post_block  .radio{
	padding-left:0;		
}
.post_block  .gender_radio{
	line-height:40px;
}
.post_block  .radio label{	
	font-weight: normal;
	padding-left:0;	
	color:#858d99;
}
.post_block .radio input[type="radio"],
#login .radio input[type="radio"] {
	display:none;	
	cursor: pointer;
}
.post_block .radio input[type="radio"] + label:before,
#login .radio input[type="radio"] + label:before {
	content: "";  
	display:inline-block;  
	width:15px; 
	height:15px;
	background: url('radio.png') top left no-repeat;
	background-position:0 0;
	margin: 0px 14px 0 0;
}
.post_block .radio input[type="radio"]:checked + label:before,
#login .radio input[type="radio"]:checked + label:before {
	background: url('radio_selected.png') top left no-repeat;
}
.post_block .radio input[type="radio"]:checked + label,
#login .radio input[type="radio"]:checked + label {
	color: #333333;
}
.post_block .notification_subheader{
	font-weight:bold;
	font-size:20px;
	text-transform: uppercase;
	padding-bottom:10px;
}
.post_block .checkbox{	
	padding:4px 0 4px 0;			
	line-height: 15px;
	width:100%;
} 
.post_block .checkbox label{	
	margin:0;	
	padding-left:0;	
} 
.post_block .checkbox input[type="checkbox"]{
	display:none;	
}
.post_block .checkbox  input[type="checkbox"]{
	cursor: pointer;
}
.post_block .checkbox input[type="checkbox"]+ label:before{
	content: "";  
	display: block;  
	float:left;
	width:15px; 
	height:15px;
	background: url('radio.png') top left no-repeat;
	margin:0 14px 0 0;
}
.post_block  .checkbox  input[type="checkbox"]:checked + label:before{
	background: url('radio_selected.png') top left no-repeat;
}
.post_block .reset_password_link{
	font-size:20px;
	color: #ff0f64;
	line-height:60px;
	text-decoration: underline;
	cursor: pointer;
}
.post_block .reset_password_link:hover{
	color:#ea0053;
}
.post_block .reset_password_link:visited{
	color: #00ded1;
}
.post_block .reset_password_link.disabled{
	color:#a6afbd;
}
.post_block .apply_button{
	padding-left:0;
}
.post_block .apply_button button{
	width:100%;
	background: #ff0f64;
	border-radius:8px;
	height: 60px;	
	text-align: center;
	font-size:15px;
	color: white;
	font-weight:600;
	font-family: 'Raleway', Arial, sans-serif;
	border:0;
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block .apply_button button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block .apply_button button:hover:active{
	background: white;
	border:3px solid #f20056;
	color:#f20056;		
}
.post_block .cancel_button{
	padding-right:0;
	cursor: pointer;
}
.post_block .cancel_button div{
	width:100%;
	background: #c0c7d1;
	border-radius:8px;
	height: 60px;	
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-size:15px;
	color: white;
	font-weight:600;
	font-family: 'Raleway', Arial, sans-serif;
	border:0;
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block .cancel_button div:hover{
	background: #8d9299;
	transition-property: background;
	transition-duration: 0.5s;
}
.post_block .cancel_button div:active{
	background: white;
	border: 3px solid #8d9299;
	color: #8d9299;	
}
.post_block.add_link, .post_block.add_image, .post_block.add_text, .post_block.add_video, .post_block.add_gif{
	display: none;
}
.post_block.visible{
	display: block;
}
.post_block.hidden{
	display: none;
}
	
.add_post_buttons button{
	height:50px;
	border-radius:8px;
	color: white;
	width:100%;
	border:0;
	font-size:20px;
	font-family: 'Raleway', Arial, sans-serif;			
	font-weight:600;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);	
	transition-property: background;
	transition-duration: 0.5s;
}
.add_post_buttons .preview{
	background: #d1d8e3;
}
.add_post_buttons .preview:hover{
	background: #b0b6bf;
	transition-property: background;
	transition-duration: 0.5s;
}
.add_post_buttons .preview:active{
	background: white;
	color:#b0b6bf;
	border: 3px solid #b0b6bf;
}
.add_post_buttons .save_post{
	background: #c0c7d1;
}
.add_post_buttons .save_post:hover{
	background: #8d9299;
	transition-property: background;
	transition-duration: 0.5s;
}
.add_post_buttons .save_post:active{
	background: white;
	border: 3px solid #8d9299;
	color:#8d9299;
}
.add_post_buttons .add_post{
	background: #ff0f64;
}
.add_post_buttons .add_post:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.add_post_buttons .add_post:active{
	background: white;
	border: 3px solid #f20056;
	color: #f20056;
}
.footnote{
	padding-bottom:25px;
	background: url('marker.png') top left no-repeat;
	padding-left:20px;
	background-position: 0 5px;
}
.add_post_header_block{
	padding:20px 0 20px 0;
	float:left;
	width:100%;
}
.add_post_page_header{
	text-transform: uppercase;
	font-weight:bold;
	font-size:40px;
	float:left;
	padding-left:30px;
}
.assist_switch{
	float: right;
	background: white;
	border-radius:8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	padding:15px 30px 15px 30px;
	margin-top:10px;
}
.assist_switch .assist_label{
	float: left;
	line-height:20px;
	padding-right:20px;
}
.assist_switch .onoffswitch {
    position: relative; 
	width: 40px;
	float: left;
   -webkit-user-select:none; 
   -moz-user-select:none;
   -ms-user-select: none;
}
.assist_switch .onoffswitch-checkbox {
    display: none;
}
.assist_switch .onoffswitch-label {
    display: block; 
	overflow: hidden; 
	cursor: pointer;
    border-radius: 8px;
}
.assist_switch .onoffswitch-inner {
    display: block; 
	width: 200%; 
	margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.assist_switch .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
	float: left; 
	width: 50%; 
	height: 20px; 
	padding: 0; 
	line-height: 20px;
    font-size: 10px; 
	color: white; 
	font-family: Trebuchet, Arial, sans-serif; 
	font-weight: bold;
    box-sizing: border-box;
}
.assist_switch .onoffswitch-inner:before {
    content: "";
	padding-left: 10px;
    background-color: #FF0F64; 
	color: #FFFFFF;
}
.assist_switch .onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #D1D8E3; 
	color: #999999;
    text-align: right;
}
.assist_switch .onoffswitch-switch {
    display: block; 
	width: 21px; 
	margin: -1px;
	background: #FFFFFF;
    position: absolute; 
	top: 0; 
	bottom: 0;
    right: 22px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s; 
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.assist_switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.assist_switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.notification{
	text-transform: uppercase;
	font-size: 20px;
	font-weight:bold;
	padding-bottom:10px;
}
.author_block {
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	padding:30px;
	margin-bottom:20px;	
	position:relative;
	margin-top:100px;
}
.author_block .image{
	position:relative;
	display: inline;
}
.author_block .image .avatar{
	border-radius:8px;
	display: inline;
}
.author_block .image .pencil{
	position: absolute;
	bottom:5px;
	right:5px;	
}
.author_block .about_block{
	position: relative
}
.author_block .editprofileimage{
	width:200px;
	height:200px;
	border:0;
	background: none;
	box-shadow: none;
}
.author_block .editprofileimage:hover{
	background: url('pencil.png') top left no-repeat;
}
.author_block .about_block .txt textarea{
	border:0;
	height: 100%;	
	background: white;	
	text-shadow: none;
	height: 100%;
	min-height:140px;
	resize: none;
	box-shadow: none;	
}
.author_block .about_block .textedit{
	padding: 10px;
	border-radius: 6px;
	border: 1px solid transparent;
	min-height: 44px;
}
.author_block .about_block .textedit:hover{
	background: #ff0f64 url('pencil2.png') center right no-repeat;
	color: white;
	cursor: pointer;
	
}
.author_block .about_block .textedit:focus{
	border: 1px solid #ff0f64;	
	background: white;
	color:#333333;
}
.author_block .social_links{
	position: absolute;
	top:40px;
	right:15px;
	z-index:20;
}
.author_block .pright{
	right:170px;
}
.author_block .social_links a{
	width:30px;
	height:31px;
	display: block;
	background-position: 0 0;
	float:left;
	margin:0 10px 0 4px;
}
.author_block .social_links a:hover{
	background-position: 0 -31px;
}
.author_block .social_links .fb{
	background: url('fb.png') top left no-repeat;
}
.author_block .social_links .tw{
	background: url('tw.png') top left no-repeat;
}
.author_block .social_links .pt{
	background: url('pt.png') top left no-repeat;
}
.author_block .social_links .g{
	background: url('g.png') top left no-repeat;
}
.author_block .social_links .inactive{
	background-position: 0 -62px;
}
.author_block .author_name{
	text-transform: uppercase;
	font-weight:bold;
	font-size: 40px;
}
.author_block .nameedit{
	border-radius:6px;
	padding: 0 55px 0 10px;
	display: inline-block;
	border: 1px solid transparent;
}
.author_block .nameedit:hover{
	background: #ff0f64 url('pencil3.png') center right no-repeat;
	cursor: pointer;
}
.author_block .nameedit:focus{
	border: 1px solid #ff0f64;
	color:#333333;
	background: white;
}
.author_block .about{
	font-weight: bold;
	font-size:20px
}
.author_block .pl{
	padding-left:10px;
}
.author_block .follow_button{
	position: absolute;
	width: 140px;
	top:32px;
	right: 25px;
	z-index:50;
	
}
.author_block .follow_button button{
	background: #ff0f64;
	border-radius:8px;
	color: white;
	font-size:15px;
	text-align: center;
	font-family: 'Raleway', Arial, sans-serif;
	border:0;
	height: 40px;
	width:100%;
	transition-property: background;
	transition-duration: 0.5s;
}
.author_block .follow_button button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;	
}
.author_block .follow_button button:active{
	background: white;
	border: 3px solid #ff0f64;
	color: #ff0f64
}
.author_block .follow_button .disabled{
	
}
.save_changes{
	width:100%;
	max-width: 370px;
	margin: 0 auto;
}
.save_changes button{
	width:100%;
	text-align: center;
	background: #ff0f64;
	border-radius:8px;
	color: white;
	font-size:20px;
	font-weight:600;
	height:50px;	
	font-family: 'Raleway', Arial, sans-serif;
	border:0;
	transition-property: background;
	transition-duration: 0.5s;
	margin-top:5px;
}
.save_changes button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.save_changes button:active{
	background: white;
	border: 3px solid #f20056;
	color:#f20056;
}

#page_block{
	width:100%;
	float:left;
}
#page_block .right_pane{
	padding-top:94px;
}
.rating_header{
	text-transform: uppercase;
	font-weight:bold;
	font-size:40px;
	padding:18px 0 0 0;
}
.rating_search_block{	
	margin-bottom:30px;
	position:relative;
}
.rating_search_block input{
	width:100%;
	border:0;
	background: transparent url('search.png') top left no-repeat;
	height:48px;
	box-shadow: none;
	border-bottom: 5px solid #333333;
	border-radius: 0;
	background-position: 26px 15px;
	padding-left:60px;
}
.rating_search_block input::-moz-placeholder{
	color:#333333;
}
.rating_search_block input:focus{
	box-shadow: none;
	border-bottom: 5px solid #ff0f64;
}
.rating_search_block .clear_form{
	z-index:50;
	cursor: pointer;
	background: url('clear.png') top left no-repeat;
	width:10px;
	height:10px;
	background-position: 0 0;
	top:20px;
	right:20px;
	position: absolute;
	
}
.rating_search_block input:focus +.clear_form{
	background-position: 0 -10px;
}
.rating_search_block .complete +.form-control-feedback{	
	background: url('clear.png') top left no-repeat;
	width:10px;
	height:10px;
	background-position: 0 -10px;
	top:20px;
	right:20px;
}
.rating_pane{
	background: white;
	border-radius: 8px;	
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);		
}
.rating_pane .top_subheader{
	text-transform: uppecase;
	font-size:20px;
	font-weight:bold;
	text-transform: uppercase;
	padding:25px 0 6px 30px;
}
.rating_pane .rating_item{	
	margin:0 14px 0 14px;		
}
.rating_pane .selected{
	border: 2px solid #00ded1;
	border-radius: 8px;
}
.rating_pane .rating_item .row{	
	border-bottom:1px solid #e6e6e6;	
	margin:0 12px 0 12px;
	padding: 14px 0 14px 0;
}
.rating_pane .rating_item .row.last{	
	border-bottom:0;
}
.rating_pane .selected .row{
	border-bottom: 1px solid transparent;
}
.rating_pane .rating_item .up{
	color:#00ded1;
	font-size: 40px;
	font-weight:300;
	line-height:70px;
	padding-left:0;
	padding-right:0;	
}
.rating_pane .rating_item .subscribe_button{
	padding-left:0;
	position: absolute;
}
.rating_pane .rating_item .subscribe_button button{
	border:0;
	font-size:15px;
	width:100%;
	background: white;
	border: 3px solid;
	border-color:  #ff0f64;
	border-radius: 8px;
	color:#ff0f64;
	line-height:64px;
	font-weight:600;
}
.rating_pane .rating_item  .user_item{
	padding-right:0;
}
.rating_pane .rating_item  .user_item a{
	color:#333333;
	text-decoration: none;
}
.rating_pane .rating_item  .user_item a:hover{
	text-decoration: underline;
}
.rating_pane .rating_item  .rank_block{
	float: right;	
	padding-right:0;
}
.rating_pane .rating_item  .rank_block .bg{
	background: #ff0f64;
	border-radius:8px;
	color: white;
	font-size: 15px;	
	height:70px;
	width:100%;	
	max-width:200px;
	float: right;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.rating_pane .rating_item  .rank_block .rank{	
	line-height:70px;
	text-align: center;
	font-weight:300;
	font-size: 40px;
}
.rating_pane .rating_item  .rank_block .text{
	font-family: 'Raleway', Arial, sans-serif;
	padding-top: 12px;
}
.rating_pane .rating_item .user_image{
	padding-left:0;		
}
.rating_pane .rating_item .user_image img{
	border-radius: 5px;
}
.rating_pane .rating_item .name{
	font-weight:600;
	font-size:20px;
}
.rating_pane .rating_item  .looks{
	background: url('icon_eye.png') center left no-repeat;
	padding:0 10px 0 25px;
	font-size:12px;
	font-weight:600;	
	white-space: nowrap;
}
.rating_pane .rating_item  .likes{
	background: url('icon_like.png') center left no-repeat;
	padding:0 10px 0 20px;
	font-size:12px;
	font-weight:600;	
	white-space: nowrap;
}
.rating_pane .rating_item  .subscribers{
	background: url('icon_user.png') center left no-repeat;
	padding:0 6px 0 20px;
	font-size:12px;
	font-weight:600;	
	white-space: nowrap;
}
.rating_pane .pagination_block{
	width:290px;
	margin: 0 auto;
	
}
.rating_pane .pagination  li  a{
	border:0;
	font-weight:600;
	width: 30px;
	height:30px;		
	text-align: center;
	line-height:29px;
	padding:0;
	margin:0;
	color:#333333;
	margin:6px 7px 6px 7px;	
}
.rating_pane .pagination  li  a:hover{
	background: none;
	color: #ff0f64;
}
.rating_pane .pagination .active a{
	background: #ff0f64;
	color: white;
	border-radius:30px;
}
.rating_pane .pagination .next a{
	width:42px;
	height:42px;
	background-position: 0 0;
	background: url('next.png') top left no-repeat;
	margin: 2px 0 0 10px;
}
.rating_pane .pagination .next a:hover{	
	background: url('next.png');
	background-position: 0 -42px;
}
.rating_pane .pagination .next a:active{	
	background: url('next.png') top left no-repeat;
	background-position: 0 -84px;
}
.rating_pane .pagination .prev a{
	width:42px;
	height:42px;
	background-position: 0 0;
	background: url('prev.png') top left no-repeat;
	margin: 2px 10px 0 0;
}
.rating_pane .pagination .prev a:hover{	
	background: url('prev.png');
	background-position: 0 -42px;
}
.rating_pane .pagination .prev a:active{	
	background: url('prev.png') top left no-repeat;
	background-position: 0 -84px;
}


.activity_header{
	font-weight:bold;
	font-size: 40px;
	text-transform: uppercase;
	padding:20px 0 18px 0;
}
.page_subheader{
	font-weight:bold;
	font-size: 40px;
	text-transform: uppercase;
	padding:20px 0 18px 0;
}
.mark_read{
	width: 170px;
	height: 40px;
	border:0;
	border-radius:8px;
	color: white;
	font-family: 'Raleway', Arial, sans-serif;
	background: #ff0f64;
	font-weight:600;
	margin-bottom:20px;
}
.mark_read:hover{
	background: #ea0053;
}
.mark_read:active{ 
	border: 3px solid #ff0f64;
	color:#ff0f64;
	background: white;
}
.today_block{
	width: 100%;
	background: url('border2.png') center left repeat-x;
	height:20px;
	line-height: 20px;
	margin-bottom:20px;	
}
.today_block span{
	background: #f0f2f5;
	padding: 5px 10px 5px 0;
	font-style: italic;
	font-family: 'Raleway', Arial, sans-serif;
	color:#a6afbd
}
.activity_block{
	background: white;
	border-radius:8px;
	position: relative;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	margin-bottom:20px;
}
.activity_block .popular_label{
	position: absolute;
	top: 10px;
	right: 10px;
	background: #850cc2;
	height: 30px;
	color: white;
	text-transform: uppercase;
	font-size:12px;
	font-weight:600;
	line-height:30px;
	border-radius:8px;
	padding:0 18px 0 18px;
}
.activity_block .hot_label{
	position: absolute;
	top: 10px;
	right: 10px;
	background: #de1f00;
	height: 30px;
	color: white;
	text-transform: uppercase;
	font-size:12px;
	font-weight:600;
	line-height:30px;
	border-radius:8px;
	padding:0 18px 0 18px;
}
.activity_block .img{
    height: 380px;
    object-fit: cover;
	border-radius: 8px 8px 0 0;
}
.activity_block .txt{
	padding: 16px 10px 16px 25px;
}
.activity_block .txt .subheader{
	text-transform: uppercase;
	font-size: 30px;
	font-weight:bold;
	line-height:36px;
}
.activity_block .txt .subheader a{
	color: #333333;
	text-decoration: none;
	word-wrap: break-word;
}
.activity_block .txt .subheader a:hover{
	text-decoration: underline;
}
.activity_block .txt .date{
	color: #a6a6a6;
	padding:8px 0 4px 0;
}
.activity_block .txt  .user_image{
	float:left;
	padding-right:10px;
	padding-bottom:16px;
}
.activity_block .txt  .user_name{
	float:left;
	line-height: 30px;
	padding-bottom:16px;
}
.activity_block .txt  .user_name a{
	color:#a6a6a6;
	text-decoration: underline;
}
.activity_block .txt .activities{
	border-top:1px solid #e6e6e6;
	padding-top: 20px;	
	clear: both;	
}
.activity_block .txt .activities a{
	width:36px;
	height:36px;
	background-position: 0 0;
	display: inline-block;
	margin-right:22px;
}
.activity_block .txt .activities a:hover{
	background-position: 0 -36px;
	cursor: pointer;
}
.activity_block .txt .activities a:active{
	background-position: 0 -72px;
}
.activity_block .txt .activities .star{
	background: url('stars.png') top left no-repeat;
}
.activity_block .txt .activities .check{
	background: url('check.png') top left no-repeat;
}
.activity_block .txt .activities .check.marked{
	background-position:0 -72px;
}
.activity_block .txt .activities .cancel{
	background: url('cancel.png') top left no-repeat;
}
.activity_block .txt .activities .star.marked{
	/*background: url('check.png') top left no-repeat;*/
	background-position:0 -72px;
}
.activity_block .txt .activities .star.marked:hover{
	/*background: url('cancel.png') top left no-repeat;*/
}
.activity_block .txt .activities .hidden{
	display: none;
}



.info_block{
	background: white;
	border-radius:8px;	
	padding-top:20px;
	height: 120px;
	margin-bottom:20px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);	
}
.info_block div{
	text-align: center;
}
.info_block div span{
	display: inline-block;
	width:100%;
	font-size:15px;
	font-weight:600;
	padding-top:15px;
}
.rating_block{
	border-radius:8px;
	background: #ff0f64;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	height:120px;
	text-align: center;
	color: white;
	font-weight:300;
	padding-top:15px;
	margin-bottom:20px;
}
.rating_block span{	
	font-size:40px;
}	
.posts_block{
	background: white;
	border-radius:8px;	
	height: 120px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	margin-bottom:20px;
}
.posts_block div{
	float: left;
	text-align: center;
	width:50%;
	padding-top:15px;
}
.posts_block div span{
	font-size:40px;
	font-weight:300;	
}
.posts_block div p{
	font-family: 'Raleway', Arial, sans-serif;		
}
.post_menu_block{
	padding-top:5px;
	padding-bottom:38px;
}
.post_menu{
	position: relative;
}
.post_menu .mobile_postmenu_block{
	border-bottom:5px solid #ff0f64;
	height:52px;
	display: none;
}
.post_menu .mobile_postmenu_block div{
	float: left;
	line-height:52px;
	font-weight: bold;	
}
.post_menu .mobile_postmenu_block .post_menu_trigger img{
	padding-top:2px;
	margin-right: 15px;
}
.post_menu ul{
	list-style: none;
	display: table;
	width: 100%;
	border-bottom: 5px solid #ff0f64;
}
.post_menu_block ul li{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height:46px;
}
.post_menu ul li a{
	width:100%;
	padding:15px 0 15px 0;
	display: block;
	color: #333333;
	font-family: 'Raleway', Arial, sans-serif;	
	text-decoration: none;
	font-weight:bold;
	line-height:16px;
}
.post_menu ul li a:hover{
	background: #ff0f64;
	border-radius: 4px 4px 0 0;		
	color: white;	
}
.post_menu ul .active a{
	background: #ff0f64;
	border-radius: 4px 4px 0 0;		
	color: white;
	font-weight:bold;
}
.post_menu_block .search  .row div{
	padding-left:0;
	padding-right:0;
	margin-right:15px;
}
.post_menu_block .search  .hidden_form{
	background: white;
	border-radius:8px;
	padding: 10px 20px 10px 20px;
	width: 400px;
	position: absolute;
	right: 10px;
	top: -12px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
	display: none;
}
.post_menu_block .search .active{
	display: block;
}
.post_menu_block .search  .form_trigger{
	border-bottom:5px solid black; 
	height: 52px;
	background: transparent url('search2.png') top right  no-repeat;
	cursor: pointer;
}
.post_menu_block .search input{
	width:100%;
	border:0;
	background: transparent url('search2.png') top left  no-repeat;
	height:52px;
	box-shadow: none;
	border-bottom: 5px solid #333333;
	border-radius: 0;
	padding-left:20px;
}
.post_menu_block .search input:focus{
	border-bottom: 5px solid #ff0f64;
	
}
.post_menu_block .search .clear_form{
	z-index:50;
	cursor: pointer;
	background: url('clear.png') top left no-repeat;
	width:10px;
	height:10px;
	background-position: 0 0;
	top:30px;
	right:20px;
	position: absolute;
	
}
.post_menu_block .search input:focus +.clear_form{
	background-position: 0 -10px;
	
}


#post_block{
	width:100%;
	float:left;
	background: #f0f2f5 url('post.jpg') top center no-repeat;
	/*background-size: 100% 200px;*/
}
.white_block{
	width:100%;
	background: white;
	border-radius:8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	padding:20px 50px 20px 50px;
	margin-bottom:20px;
}
.white_block .white_block_header h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight:bold;
	padding-bottom:25px;
}
.white_block .subheader{
	font-weight:bold;
	font-size: 20px;
	padding: 5px 0 20px 0;
}
.white_block .subheader h3 {
	font-weight:bold;
	font-size: 20px;
	margin: 0;
}
.white_block .preview{
    position: relative;
	padding-left: 0;
	padding-bottom:20px;
}
.white_block .preview img{
	border-radius:8px;
}
.white_block .description{	
	text-transform: uppercase;
	font-weight:bold;
	font-size:20px;
	padding-bottom: 20px;
	padding-left:0;
	padding-right:0;
	height: 100px;
}
.white_block .description a {
	color: #333333;
	word-wrap: break-word;
}
.white_block  .more_button{
	display: block;
	max-width: 310px;
	width: 100%;
	margin: 5px auto 50px auto;
	background: #ff0f64;
	border-radius:6px;
	color: white;
	text-transform: uppercase;
	font-size:15px;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	padding:9px 0 9px 0;	
	transition-property: background;
	transition-duration: 0.5s;
	cursor: pointer;
}
.white_block .more_button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.white_block .more_button:active{
	background: white;
	color:#ff1f6e;
	border: 3px solid #f20056;
	padding:6px 0 6px 0;
}
.white_block .add_post_form div{
	
}
.white_block .add_post_form  textarea{
	resize: none;
	height:118px;
	border: 1px solid #d1d8e3;
	box-shadow: none;
	font-size:15px;
	border-right:0;
	border-radius: 5px 0 0 5px;
}
.white_block .add_post_form  textarea:focus{	
	border: 1px solid #ff0f64;		
	border-right:0;
}
.white_block .add_post_form .form-control::-moz-placeholder{
	color:#c0c7d1;
}
.white_block .add_post_form  .commentfileinput{
	height:118px;
	background: #c0c7d1;
	border-radius:0 5px 5px 0;
	color: white;
	box-shadow: none;
	border:0;
	transition-property: background;
	transition-duration: 0.5s;
	padding-top:50px;
}
.white_block .add_post_form .commentfileinput:hover{
	background: #ff0f64;
	transition-property: background;
	transition-duration: 0.5s;
}
.white_block .add_post_form  button{
	border:0;
	border-radius:5px;
	background: #ff0f64;
	text-transform: uppercase;
	color: white;
	width:100%;
	text-align: center;
	padding: 12px;
	transition-property: background;
	transition-duration: 0.5s;
}
.white_block .add_post_form .textarea_container{
	padding-right:0;
}
.white_block .add_post_form  .file_container{
	padding-left: 0;
}
.white_block .add_post_form  button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.white_block .add_post_form  button:active{
	background: white;
	border:3px solid #f20056;
	padding: 9px 0 9px 0;
	color:#f20056;
}
.comment_block{
	border-bottom:1px solid #d1d8e3;
	margin-left:0;
	margin-right:0;	
	padding-top:10px;	
}
.comment_block.last{
	border-bottom:0;
}
.comment_block  .name{
	font-weight:bold;
	padding:5px 0 15px 0;
}
.comment_block  .name a{
	color:#333333;
} 
.comment_block  .name span{
	font-style: italic;
	font-weight: normal;
	color:#c4cbd4;
	padding-left:20px;
}
.comment_block .text{
	font-style: italic;
	padding-bottom:17px;	
}
.comment_block .text p{
	padding-bottom:10px;
}
.comment_block .reply_block{
	text-align: right;
	padding-top:20px;
}
.comment_block .reply_block button{
	border-radius:8px;
	height: 30px;
	text-align: center;
	border: 0;
	padding:0 10px 0 10px;
	background: white;
	margin-right:10px;
	color:#ff0f64;
}
.comment_block .reply_block button:hover{	
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.comment_block .reply_block button:active{
	background: #c0c7d1;
	color: white;
}
.comment_block .reply_block a{ 
	line-height: 42px;
	height:42px;
	display: inline-block;
	background: url('eye_rounded.png') top left no-repeat;
	padding:0 20px 0 42px;	
	margin-top:3px;
	text-decoration: none;
	color:#333333;
}
.comment_block .reply_block a:hover{
	color: #00ded1;
	background-position: 0 -84px;
}
.comment_block .reply_block .dislikes:hover{
	color:#ff0f64;
}
.likesCommentAdded{
	color: #00ded1 !important;
	background-position: 0 -84px !important;
}
.dislikesCommentAdded{
	color:#ff0f64 !important;
	background-position: 0 -84px !important;
}
.comment_block .reply_block a:active{
	color:#a6afbd;
	background-position: 0 -126px;
}
.comment_block .reply_block .likes{	
	background: url('like_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
}
.comment_block .reply_block .dislikes{	
	background: url('dislike_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
	padding-right:0;
}
.level2{
	margin-right:-15px;
	padding-bottom: 0;
	border-bottom:0;
	clear: both;
	border-top: 1px solid #d1d8e3;
}	
.white_block .mtop{
	margin-top:20px;
}
.top_comment  .person_name p{
	padding-bottom:15px;
	font-weight:bold;
}
.top_comment  .person_name p a{
	color:#333333;
}
.top_comment  .person_name span{
	font-style: italic;
	color:#c0c7d1;	
	font-weight: normal;
}
.top_comment .comment_text{
	border: 1px solid #ff0f64;
	border-radius:5px;
	font-weight:bold;
	font-style: italic;
	padding:20px 30px 20px 30px;
	cursor: default;
}
.top_comment .reply_block a{ 
	line-height: 42px;
	height:42px;
	display: inline-block;
	background: url('eye_rounded.png') top left no-repeat;
	padding:0 20px 0 42px;	
	margin-top:3px;
	text-decoration: none;
	color:#333333;
}
.top_comment .reply_block a:hover{
	color: #00ded1;
	background-position: 0 -84px;
}
.top_comment  .reply_block .dislikes:hover{
	color:#ff0f64;
}
.top_comment .reply_block a:active{
	color:#a6afbd;
	background-position: 0 -126px;
}
.top_comment  .reply_block .likes{	
	background: url('like_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
}
.top_comment  .reply_block .dislikes{	
	background: url('dislike_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
	padding-right:0;
}
.post_content{
	background: white;
	border-radius:8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	padding: 40px 30px 20px 30px;
	margin-bottom:20px;
}
.post_content p{
	padding-bottom:20px;
}
.post_content h3{
	font-weight:bold;
	font-size:20px;
	padding-bottom:20px;
}
.post_header_block{
	background: white;
	border-radius:8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	margin-top: 100px;
	margin-bottom:20px;
	padding:30px 30px 40px 30px;
}
.post_header_block .block_header h1 {
	font-size:40px;
	font-weight:bold;
	text-transform: uppercase;
	line-height:44px;
	word-wrap: break-word;
	margin: 0;
	display: inline;
}
.post_header_block .block_header .popular{
	font-weight: normal;	
	line-height:30px;
	display: inline-block;
	background: #850cc2;
	border-radius: 8px;
	height: 30px;
	font-size: 15px;	
	color: white;
	padding: 0 10px 0 10px;	
	margin-left: 15px;
} 
.post_header_block .block_header .hot{
	font-weight: normal;	
	line-height:30px;
	display: inline-block;
	background: #DE1F00;
	border-radius: 8px;
	height: 30px;
	font-size: 15px;	
	color: white;
	padding: 0 10px 0 10px;	
	margin-left: 15px;
} 
.post_header_block .tag_line{
	font-style: italic;
	clear: both;
	padding-top: 20px;
}
.post_header_block .tag_line a{
	margin-left:10px;
	color: white;
	padding:0 6px 2px 6px;
	background: #a6afbd;
	border-radius: 5px;
	display: inline-block;
	margin-bottom:5px;
}
.post_header_block .tag_line a:hover{
	background: #ff0f64;
	text-decoration: none;
}
.post_header_block .user{
	padding-top: 10px;	
}
.post_header_block .user  div{
	float:left;
}
.post_header_block .user .date{
	line-height:30px;	
	color: #a6a6a6;	
	padding:0 20px 0 0;
}
.post_header_block .user .name{
	line-height:30px;	
	color: #a6a6a6;
	text-decoration: underline;	
	padding:0 10px 0 10px;
}
.post_header_block .user .add{
	float: none;
}
.post_header_block .user .add a{
	width:30px;
	height:30px;
	background-position: 0 0;
	display: inline-block;
	background: url('add.png') top left no-repeat;
}
.post_header_block .user .add a:hover{
	background-position: 0 -30px;
}
.post_header_block .user .add a:active{
	background-position: 0 -60px;
}
.post_info_block {
	background: white;
	border-radius:8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);	
	padding:30px;
	margin-bottom:20px;
}
.post_info_block span{ 
	line-height: 42px;
	height:42px;
	display: inline-block;
	background: url('eye_rounded.png') top left no-repeat;
	padding:0 0 0 42px;	
	margin-top:3px;
	text-decoration: none;
	color: #333333;
	cursor: default;
}
.post_info_block span.active {
    cursor: pointer;
}
.post_info_block .looks{	
	background: url('eye_rounded.png') top left no-repeat;
	background-position: 0 -42px;		
}
.post_info_block .likes{	
	background: url('like_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
}
.post_info_block .dislikes{	
	background: url('dislike_rounded.png') top left no-repeat;
	background-position: 0 -42px;	
}
.post_info_block .comments{	
	background: url('comment_rounded.png') top left no-repeat;
	background-position: 0 -42px;
}
.post_info_block .share{
	line-height: 48px;	
	height:48px;
	display: inline-block;
	background: url('share.png') top left no-repeat;
	background-position: 0 0;
	padding:0 0 0 45px;
	background-position: 0 0;
	color: #333333;	
	margin-top: 0;
	margin-left: -3px;
	background-position: 0 0;
}
.post_info_block .star2{
	line-height: 48px;	
	height: 48px;
	display: inline-block;
	background: url('star.png') top left no-repeat;
	background-position: 0 0;
	padding:0 0 0 45px;
	background-position: 0 0;
	color: #333333;	
	margin-left: -3px;
	margin-top: 0;
}
.posts_mobile{
	display: none;
}
.relative_block{	
	position: relative;
}
.relative_block .left_line{
	position: absolute; 
	width:1px; 
	height:100%; 
	background: #d1d7e0; 
	z-index:40; 
	left: 0px; 
	top: 200px;
}
.relative_block .right_line{
	position: absolute; 
	width:1px; 
	height:100%; 
	background: #d1d7e0; 
	z-index:40; 
	right: 0px; 
	top: 200px;
}
.relative_block .nxt{
	position: fixed;
	width: 52px;
	height:52px;
	background-position: 0 0;
	top:49%;	
	z-index:50;
	background: url('nxt.png') top left no-repeat;
	margin-left:-9px;
}
.relative_block .prv{
	position: fixed;
	width: 52px;
	height:52px;
	background-position: 0 0;
	top:49%;
	margin-left:-40px;
	z-index:50;
	background: url('prv.png') top left no-repeat;
}
.relative_block .prv:hover{
	background-position: 0 -52px;
	cursor: pointer;
}
.relative_block .prv:active{
	background-position: 0 -104px;
}
.relative_block .nxt:hover{
	background-position: 0 -52px;
	cursor: pointer;
}
.relative_block .nxt:active{
	background-position: 0 -104px;
}
.relative_block .prv div{
	position: absolute; 
	left: 60px; 
	background: #f5f7fa;
	padding:15px; 
	top:-6px;
	border-radius:8px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	display: none;	
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
	word-wrap: break-word;
}
.relative_block .nxt div{
	position: absolute; 
	right: 60px; 
	background: #f5f7fa;
	padding:15px; 
	top:-6px;
	border-radius:8px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	display: none;	
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	word-wrap: break-word;
}	
.relative_block .nxt:hover div{
	display: block;
	z-index:90;
}

.relative_block .prv div:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 30px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: #f5f7fa;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);	
}	
.relative_block .nxt div:before {
    content: "";
    position: absolute;
    right: -10px;
    top: 30px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: #f5f7fa;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);	
}
.relative_block .prv div img,
.relative_block .nxt div img {
	border-radius:8px;
}
.relative_block .prv:hover div{
	display: block;
}
.relative_block .likes2{	
	background: url('likes2.png') top left no-repeat;
	background-position: 0 0;	
	position: fixed;
	top:50%;
	width:42px;
	height:42px;
	margin-top:50px;
	margin-left:-5px;
	z-index:50;	
}
.relative_block .likes2:hover{
	background-position: 0 -42px;
	cursor: pointer;
	
}
.relative_block .likes2:active,
.relative_block .likes2.selected{
	background-position: 0 -84px;
}
.relative_block .dislikes2{	
	background: url('dislike2.png') top left no-repeat;
	background-position: 0 0;		
	position: fixed;
	top:50%;
	margin-top: 95px;
	margin-left:-5px;
	width:42px;
	height:42px;
	z-index:50;	
}
.relative_block .dislikes2:hover{
	background-position: 0 -42px;
	cursor: pointer;
}
.relative_block .dislikes2:active,
.relative_block .dislikes2.selected{
	background-position: 0 -84px;
}
.relative_block .comments2{	
	background: url('comment2.png') top left no-repeat;
	background-position: 0 0;	
	position: fixed;
	top:50%;
	margin-top: 140px;
	margin-left:-5px;
	width:42px;
	height:42px;	
	z-index:50;	
}
.relative_block .comments2:hover{
	background-position: 0 -42px;
	cursor: pointer;
}
.relative_block .comments2:active{
	background-position: 0 -84px;
}

.relative_block .share2{
	width: 48px;
	height:48px;
	background: url('share.png') top left no-repeat;
	background-position: 0 0;
	position: fixed;
	top:50%;
	margin-top: 185px;
	margin-left:-7px;
	z-index:50;	
}
.relative_block .share2:hover{
	background-position: 0 -48px;
	cursor: pointer;
}
.relative_block .share2:active{
	background-position: 0 -96px;
}
.relative_block .star{
	width: 48px;
	height:48px;
	background: url('star.png') top left no-repeat;
	background-position: 0 0;
	position: fixed;
	top:65%;
	/*margin-top: 230px;*/
	margin-top: 140px;
	margin-left:-7px;
	z-index:50;	
}
.relative_block .star:hover{
	background-position: 0 -48px;
	cursor: pointer;
}
.relative_block .star:active{
	background-position: 0 -96px;
}
.relative_block .star.marked{
	background-position: 0 -144px;
}

.relative_block .star.marked:hover{
	background-position: 0 -192px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #f5f7fa;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #f5f7fa;
}
.tooltip.top .tooltip-arrow{
    border-top-color: #f5f7fa;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f5f7fa;
}
.tooltip-inner {
    background: #f5f7fa;
	color:#333333;
	font-size:15px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);	
}
.tooltip a{
	color: black;
}

.more_centered_button{
	display: block;
	max-width: 310px;
	width: 100%;
	margin: 30px auto 20px auto;
	background: #ff0f64;
	border-radius:6px;
	color: white;
	text-transform: uppercase;
	font-size:15px;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	padding:9px 0 9px 0;	
	transition-property: background;
	transition-duration: 0.5s;
	border:0;
}
.more_centered_button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
.more_centered_button:active{
	background: white;
	color:#ff1f6e;
	border: 3px solid #f20056;
	padding:6px 0 6px 0;
}
.modal-content{	
	padding:35px 30px 30px 30px;		
}
.share_header_block{	
	font-weight: bold;
	font-size:20px;	
	padding:0 0 40px 40px;
	text-transform: uppercase;	
	background: url('ico.png') top left no-repeat;
	background-position:0 0px;
	max-width: 280px;
	margin: 0 auto;
	line-height:41px;
	
}

.assist_mode{
	display: block;
	position: absolute;
	right:10px;
	top: 22px;
	width:56px;
	height:56px;
	background: url('mode.png') top left no-repeat;
	background-position: 0 0;
}
.assist_mode1{
	display: block;
	position: absolute;
	right:100px;
	top: 22px;
	width:56px;
	height:56px;
	background: url('mode.png') top left no-repeat;
	background-position: 0 0;
	background-color: #00c4b9;
}
.assist_mode:hover{
	background-position: 0 -56px;
}
.assist_mode:active{
	background-position: 0 -112px;
}


.modal-content .share a{
	width:100%;	
	line-height:40px;
	text-align: center;
	color: white;
	text-decoration: none;
	display: inline-block;
	font-family: 'Raleway', Arial, sans-serif;
	border-radius: 8px;	
	font-weight:bold;
	margin-bottom:20px;
}
.modal-content .share .fb{
	background: #3b5998;
}
.modal-content .share .fb:hover{
	background: #283b66
}
.modal-content .share .fb:active{
	background: white;
	border: 3px solid #3b5998;
	color:#3b5998;
	line-height: 34px;
}
.modal-content .share .g{
	background: #ff421c;
}
.modal-content .share .g:hover{
	background: #cc3516
}
.modal-content .share .g:active{
	background: white;
	border: 3px solid #ff421c;
	color:#ff421c;
	line-height: 34px;
}
.modal-content .share .tw{
	background: #1bacff;
}
.modal-content .share .tw:hover{
	background: #1689cc
}
.modal-content .share .tw:active{
	background: white;
	border: 3px solid #1bacff;
	color:#1bacff;
	line-height: 34px;
}
.modal-content .share .pt{
	background: #cd1d1f;
}
.modal-content .share .pt:hover{
	background: #991518
}
.modal-content .share .pt:active{
	background: white;
	border: 3px solid #cd1d1f;
	color:#cd1d1f;
	line-height: 34px;
}
.modal-content .close{	
	font-size:50px;
	color: black;	
	top: 0px;
	right: 10px;
	position: absolute;
	z-index:100;
}	
#login input[type="checkbox"]{
	display:none;		
}
#login .pt{
	padding-top:40px;
}
#login .checkbox  input[type="checkbox"]{
	cursor: pointer;
}
#login .checkbox label{
	padding-left:0;
}
#login  .checkbox input[type="checkbox"]+ label:before{
	content: "";  
	display: block;  
	float:left;
	width:15px; 
	height:15px;
	background: url('radio.png') top left no-repeat;
	margin:0 14px 0 0;
}
#login .checkbox  input[type="checkbox"]:checked + label:before{
	background: url('radio_selected.png') top left no-repeat;
}
#login .row{
	margin:0;
}
#login .share{
	margin: 0 -15px 0 -15px;
}
#login .share a{
	margin-bottom:0;
}
#login  .txt{
	padding:10px 0 10px 0;
}
#login .input{
	position: relative;	
}
#login input{
	height:58px;
	font-size:15px;
	border: 1px solid #d1d8e3;
	box-shadow: none;	
	margin-bottom:20px;
}
#login input:focus{	
	border: 1px solid #ff0f64;	
}
#login .complete input{
	border: 1px solid #858d99
}
#login .disabled input{
	border: 1px solid #a6afbd;
	background: #ebedf2
}
#login .has-success input{
	border: 1px solid #00c9bd; 
}
#login .has-success .form-control-feedback{
	background: url('input_ok.png')top left no-repeat;
	top:16px;
}
#login .has-error input, #login .has-error button, #edit_user .has-error {
	border: 1px solid #ff0f64; 
}
#login .has-error .form-control-feedback{
	background: url('input_error.png')top left no-repeat;
	top:18px;
	right:0px;
}
.error {
    color: #ff0f64;
    font-size: 16px;
    text-align: left;
}
form .post_block .form-control.input_error,
form .post_block .form-control button.input_error {
    border: 2px solid #ff0f64;
}
/*#post_errors {
    border: 3px solid #ff0f64;
    border-radius: 8px;
}*/
#post_errors div:last-child {
    margin-bottom: 20px;
}
#login .input .error, #login .select .error {
    margin-top: -20px;
    display: none;
}
#login .input.has-error .error, #login .select.has-error .error {
    display: block;
}
#login .button{
	max-width:370px;
	margin:20px auto 0 auto;
}
#login .button button{
	border-radius:8px;
	border:0;
	background: #ff0f64;
	color: white;
	height: 40px;	
	width: 100%;
	transition-property: background;
	transition-duration: 0.5s;	
}
#login .button button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
#login .button button:active{
	background: white;
	color:#ff1f6e;
	border: 3px solid #f20056;
	padding:6px 0 6px 0;
}
#login .tmenu{
	border:0;	
	position:relative;
	margin-bottom: 20px;
	margin-top:30px;	
}
#login .tmenu li{
	width:50%;
	padding:0;
	margin:0;	
	border:0;	
	
}
#login .tmenu li a{
	border:0;
	text-align: center;
	line-height:40px;
	text-decoration: none;	
	color: #333333;
}
#login .tmenu li a:hover{
	background: none;
}
#login .tmenu .active{
	padding:0;
	margin:0;
	line-height:40px;	
}
#login .tmenu .active a{
	margin-right:0;
}
#login .tmenu li span{
	color: #c0c7d1;
	float: right;
}
#login .tmenu .reg span{
	float:left;	
}
#login .tmenu .log{
	border-bottom:5px solid #ff0f64;
} 
#login .tmenu .active.log{
	border-bottom: 5px solid #00ded1;
}
#login .tmenu .active.log a{
	background: #00ded1;
	border-radius: 5px 5px 0 0;
	color: white;
	text-align: center;
}
#login .tmenu .reg{
	border-bottom: 5px solid #00ded1;
}
#login .tmenu .active.reg{
	border-bottom: 5px solid #ff0f64;
}
#login .tmenu .active.reg a{
	background: #ff0f64;
	border-radius: 5px 5px 0 0;
	color: white;
	text-align: center
}
#login .tmenu .active span{
	display: none;
}
#login #remind_pass_link{
	cursor: pointer;
	text-align: center;
	padding-top:20px;
	clear: both;
	color: #ff0f64;
	display: block;
	text-decoration: none;	
}
#login #remind_pass_link:hover{
	color:#ea0053
}
#login #remind_pass_link:active{
	color:#00ded1;
}
#reg .row.select .form-control {
    min-height: 58px;
    margin-bottom: 20px;
}
#reg .gender_radio {
    margin-top: 0;
    margin-bottom: 0;
}
#reg .gender_radio input {
    height: auto;
}


#line .authors_of_month{

}
#like .authors_of_month .block_header{
	text-transform: uppercase;
	font-size:20px;
	font-weight:bold;
}
#like .authors_of_month .author_item{
	border-bottom: 1px solid  #e6e6e6;	
	margin:0;	
	padding: 12px 0 12px 0;
}
#like .authors_of_month .author_item:last-of-type{
	border-bottom:0;
	padding-bottom:0;
}
#like .authors_of_month .author_image{
	padding-left:0;
	padding-right:0px;
}
#like .authors_of_month .author_image img{
	border-radius:6px;
}
#like .authors_of_month .author_text{
	padding-left:10px;
}
#like .authors_of_month .author_text .name{
	font-weight:600;
	font-size:20px;
	padding-top:4px;
}
#like .authors_of_month .author_text .name a{
	color:#333333;
}
#like .authors_of_month .author_text .name a:hover{
	text-decoration: underline;
}
#like .authors_of_month .author_text .looks{
	background: url('icon_eye.png') center left no-repeat;
	padding:0 5px 0 22px;
	font-size:10px;
	font-weight:600;	
	white-space: nowrap;
}
#like .authors_of_month .author_text .likes{
	background: url('icon_like.png') center left no-repeat;
	padding:0 5px 0 20px;
	font-size:10px;
	font-weight:600;	
	white-space: nowrap;
}
#like .authors_of_month .author_text .subscribers{
	background: url('icon_user.png') center left no-repeat;
	padding:0 5px 0 20px;
	font-size:10px;
	font-weight:600;	
	white-space: nowrap;
}
#like .interested_posts .preview img{
	border-radius:5px;
}
#like .interested_posts .description a{
	text-transform: uppercase;
	font-weight:bold;
	color:#333333;
}
.delete_img:hover {
	text-decoration: underline;
	cursor: pointer;
}
#like .interested_posts_header{
	text-transform: uppercase;
	font-weight:bold;
	font-size:20px;
	padding-bottom:20px;	
	padding-top:20px;
}

#like .more_button{
	border-radius:8px;
	border:0;
	background: #ff0f64;
	color: white;	
	line-height:40px;	
	clear: both;
	width: 100%;
	max-width:310px;
	margin: 20px auto 0 auto;
	transition-property: background;
	transition-duration: 0.5s;	
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}
#like .more_button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
#like .more_button:active{
	background: white;
	color:#ff1f6e;
	border: 3px solid #f20056;
	line-height: 34px;
}
#like .bordered{
	border: 1px solid #c0c7d1;
	border-radius: 5px;
	min-height:204px;
	margin-bottom: 20px;
}
#like .bordered p{
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
	font-size:20px;
	padding:30px 0 20px 0;
}

.row-flex{
	display: flex;
    flex-flow: row wrap;
}

#remind_pass .block_subheader{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	padding-bottom:20px;
}
#remind_pass  .text{
	padding-bottom:20px;
	text-align: center;
}
#remind_pass  label{
	font-weight: normal;
	padding-bottom:5px;
}
#remind_pass input{
	height:58px;
	font-size:15px;
	border: 1px solid #d1d8e3;
	box-shadow: none;	
	margin-bottom:20px;
}
#remind_pass input:focus{	
	border: 1px solid #ff0f64;	
}
#remind_pass .complete input{
	border: 1px solid #858d99
}
#remind_pass .disabled input{
	border: 1px solid #a6afbd;
	background: #ebedf2
}
#remind_pass .has-success input{
	border: 1px solid #00c9bd; 
}
#remind_pass .has-success .form-control-feedback{
	background: url('input_ok.png')top left no-repeat;
	top:16px;
}
#remind_pass .has-error input{
	border: 1px solid #ff0f64; 
}
#remind_pass .has-error .form-control-feedback{
	background: url('input_error.png')top left no-repeat;
	top:18px;
	right:0px;
}
#remind_pass .button{
	padding-bottom:10px;
}
#remind_pass .button button{
	border-radius:8px;
	border:0;
	background: #ff0f64;
	color: white;
	height: 40px;	
	width: 100%;
	transition-property: background;
	transition-duration: 0.5s;	
}
#remind_pass .button button:hover{
	background: #ea0053;
	transition-property: background;
	transition-duration: 0.5s;
}
#remind_pass .button button:active{
	background: white;
	color:#ff1f6e;
	border: 3px solid #f20056;
	padding:6px 0 6px 0;
}
#remind_pass  .link_block{
	text-align: right;
}
#remind_pass  .link_block a{
	cursor: pointer;
	color: #ff0f64;
	text-decoration: none;
}
#remind_pass  .link_block a:hover{
	color:#ea0053
}
#remind_pass  .link_block a:visited{
	color:#00ded1;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
.percent_div{
	font-weight:bold
}
.cross{
	padding:0 0 0 20px;
}
.post_block .dashed_rounded_block .cross img{
	padding: 0;
}
.no-pad{
	padding-right:0 !important
}
.snum{
	width:20px; 
	height:20px;	
	border-radius:10px;
	display: inline-block;
	font-style: normal;
	text-align: center;
	margin-left:6px;
	line-height:20px;
	font-size:12px;
	display: none;
}
.snum.checked{
	background: #b0b6bf;
	color: white;
	display: none
}

.add_video .publish_button button, .add_video .save_button button {
    border-radius: 8px;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    border: 0;
    height: 40px;
    width: 100%;
    transition-property: background;
    transition-duration: 0.5s;
}

.add_video .publish_button button:hover, .add_video .save_button button:hover {
    transition-property: background;
    transition-duration: 0.5s;
}

.add_video .publish_button button {
    background: #ff0f64;
}

.add_video .publish_button button:hover {
    background: #ea0053;
}

.add_video .publish_button button:active {
    background: white;
    border: 3px solid #ff0f64;
    color: #ff0f64
}

.add_video .save_button button {
    background: #00ded1;
}

.add_video .save_button button:hover {
    background: #00c4b9;
}

.add_video .save_button button:active {
    background: white;
    border: 3px solid #00ded1;
    color: #00ded1
}

.add_video_header {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 20px 0 50px;

}

#navigation {
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#navigation > div {
    margin: 0 5%;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: #ccc;
}

#navigation > div:hover, #navigation > div.active:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-bottom: 3px solid black;
}

#navigation > div.active {
    border-bottom: 3px solid black;
    color: black;
}

.video_block .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video_block .row .gray_rounded_block > div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.video_block .row p {
    color: #ccc;
    margin-top: 5px;
}

.video_block .row .inputs input {
    background-color: #fafbfc;
}

.video_block .row .inputs textarea {
    resize: none;
    height: 70px;
    background-color: #fafbfc;
}

.video_block .row .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linkInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkInput > .linkText {
    color: #ccc;
    margin: 5px 0;
    font-size: 16px;
}

.linkInput > .link {
    width: 75%;

}
.video_block .row .gray_rounded_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .video_block .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .video_block .row .gray_rounded_block {
        margin-left: 5%;
        width: 90%;
        height: 300px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .video_block .row .gray_rounded_block {
        width: 40%;
        height: 200px;

        padding: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .video_block .row .gray_rounded_block {
        height: 250px;
        width: 250px;
        padding: 20px;
    }
}
.video_block iframe {
    width: 250px;
}

#authorPostsSelection {
    margin-bottom: 38px;
}
#authorPostsSelection button {
    width: 200px;
	height: 40px;
    margin-left: 40px;
	border: 0;
	border-radius: 8px;
	color: white;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
	transition-property: background;
	transition-duration: 0.5s;
}
#authorPostsSelection button:first-child {
    margin-left: 0;
}
#authorPostsSelection button:hover{
	background: #ea0053;
}
.btn-selected {
	background: #ff0f64;
}
.btn-secondary {
	background: #c0c7d1;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tags-input .bootstrap-tagsinput {
    width: 100%;
    min-height: 58px;
    margin-bottom: 20px;
    line-height: 47px;
    border: 1px solid #d1d8e3;
}
.video-tags-input .bootstrap-tagsinput {
    width: 100%;
    min-height: 34px;
    line-height: 34px;
    border: 1px solid #d1d8e3;
    background-color: #fafbfc;
}
.video-tags-input.focused .bootstrap-tagsinput {
    background-color: white;
}
.tags-input.focused .bootstrap-tagsinput,
.video-tags-input.focused .bootstrap-tagsinput {
    border: 1px solid #FF0F64;
}
.tags-input .tag,
.video-tags-input .tag {
    font-size: 100%;
    font-weight: normal;
    background-color: #a6afbd;
}
.tags-input.focused .tag,
.video-tags-input.focused .tag {
    background-color: #ff0f64;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c0c7d1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #c0c7d1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #c0c7d1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c0c7d1;
}

img.similar {
    height: 327px;
    object-fit: cover;
}
.prv img, .nxt img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.prv p, .nxt p {
    width: 300px;
}