.terms .c9{margin-left:36pt;padding-top:0pt;text-indent:-18pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:center}
.terms .c10{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:9.5pt;font-family:"Arial";font-style:normal}
.terms .c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:8pt;font-family:"Arial";font-style:normal}
.terms .c5{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}
.terms .c3{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:8pt;font-family:"Arial";font-style:normal}
.terms .c4{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Times New Roman";font-style:normal}
.terms .c2{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c1{padding-top:0pt;padding-bottom:6pt;
    line-height:1.15;orphans:2;widows:2;text-align:left}.c6{background-color:#ffffff;max-width:554.4pt;padding:28.8pt 28.8pt 28.8pt 28.8pt}
.terms .c8{margin-left:7pt;text-indent:-7pt}.c7{height:11pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;
    font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
.terms .subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;
    page-break-after:avoid;orphans:2;widows:2;text-align:left}
.terms li{color:#000000;font-size:11pt;font-family:"Arial"}
.terms p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}
